<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
    />
    <title>parellax</title>
    <link rel="stylesheet" type="text/css" href="./css/rest.css" />
    <link rel="stylesheet" type="text/css" href="./parellax.css" />
  </head>
  <body>
    <div class="header">
      HEADER
    </div>
    <div class="parallax  background-one"></div>
    <div class="container">
      <div class="content">
        <h3 class="title">contnt</h3>
        <p>
          5月12日就是母親節了！想好怎麼慶祝、向媽媽表達心意了嗎？除了送康乃馨，你知道其他國家是如何慶祝母親節的嗎？
          在台灣，一般我們對母親節的印象，是在5月的第2個星期日，大家通常會送康乃馨及卡片給自己的母親，以表達感謝之情。但其實這天的由來，是源自美國的一位安娜賈維思（Anna
          M.
          Jarvis）女士，因為她的倡導，才漸漸開始有國家重視母親節，甚至將其訂為國定節日。
          至於為何要贈送康乃馨，則是因為康乃馨是安娜母親生前最喜愛的花，因此才漸漸有此傳統，康乃馨後來也被稱為媽媽花或母親花，花語是「熱愛著妳或為妳祈禱健康」。
          一般來說，母親節當天，若是母親還健在，子女會戴上紅色康乃馨，向母親致意；若母親已過世，則會改配戴白色的康乃馨，表示對母親的追思與懷念。
          但除此之外，世界各國還有哪些不同的母親節慶祝方式呢？而不同國家的母親花又是哪些？
        </p>
        <h3 class="title">title</h3>
        <p>
          5月12日就是母親節了！想好怎麼慶祝、向媽媽表達心意了嗎？除了送康乃馨，你知道其他國家是如何慶祝母親節的嗎？
          在台灣，一般我們對母親節的印象，是在5月的第2個星期日，大家通常會送康乃馨及卡片給自己的母親，以表達感謝之情。但其實這天的由來，是源自美國的一位安娜賈維思（Anna
          M.
          Jarvis）女士，因為她的倡導，才漸漸開始有國家重視母親節，甚至將其訂為國定節日。
          至於為何要贈送康乃馨，則是因為康乃馨是安娜母親生前最喜愛的花，因此才漸漸有此傳統，康乃馨後來也被稱為媽媽花或母親花，花語是「熱愛著妳或為妳祈禱健康」。
          一般來說，母親節當天，若是母親還健在，子女會戴上紅色康乃馨，向母親致意；若母親已過世，則會改配戴白色的康乃馨，表示對母親的追思與懷念。
          但除此之外，世界各國還有哪些不同的母親節慶祝方式呢？而不同國家的母親花又是哪些？
        </p>
        <h3 class="title">title</h3>
        <p>
          5月12日就是母親節了！想好怎麼慶祝、向媽媽表達心意了嗎？除了送康乃馨，你知道其他國家是如何慶祝母親節的嗎？
          在台灣，一般我們對母親節的印象，是在5月的第2個星期日，大家通常會送康乃馨及卡片給自己的母親，以表達感謝之情。但其實這天的由來，是源自美國的一位安娜賈維思（Anna
          M.
          Jarvis）女士，因為她的倡導，才漸漸開始有國家重視母親節，甚至將其訂為國定節日。
          至於為何要贈送康乃馨，則是因為康乃馨是安娜母親生前最喜愛的花，因此才漸漸有此傳統，康乃馨後來也被稱為媽媽花或母親花，花語是「熱愛著妳或為妳祈禱健康」。
          一般來說，母親節當天，若是母親還健在，子女會戴上紅色康乃馨，向母親致意；若母親已過世，則會改配戴白色的康乃馨，表示對母親的追思與懷念。
          但除此之外，世界各國還有哪些不同的母親節慶祝方式呢？而不同國家的母親花又是哪些？
        </p>
      </div>
    </div>
    <div class="parallax  background-two"></div>
    <div class="footer">
      FOOTER
    </div>
  </body>
</html>
