<!DOCTYPE html>
<html lang="zh-TW">

    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="keywords" content="" />
        <meta name="author" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>chef</title>
        <link rel="stylesheet" href="./assets/css/rest.css">
        <link rel="stylesheet" href="./assets/css/menuNav.css">
        <link rel="stylesheet" href="./assets/css/chefRwd.css">


        <!-- bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
            integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    </head>

    <body>
        <div class="container-fluid p-0">
            <div class="indexmain">
                <input type="checkbox" id="menuControl">
                <div class="headerContent">
                    <div class="logo">
                        <img src="./assets/img/logo/regHotels.jpg" style="width: 55%;">
                    </div>
                    <label for="menuControl" class="menuBtn">
                        <img class="menuBtnImg" src="./assets/img/logo/BTN.png">
                    </label>
                    <nav>
                        <a href="./index.html">Home</a>
                        <a href="./menu.html">Menu</a>
                        <a href="./information.html">Information</a>
                        <a href="./chef.html">Chef</a>
                    </nav>
                </div>
                <div class="row .no-gutters">
                    <div class=" col-12">
                        <img src="./assets/img/header/pasta.jpeg" style="width: 100%;">
                    </div>
                </div>

                <div class="container-fluid p-0  main">
                    <div class="title">
                        <h3>
                            廚藝團隊

                        </h3>

                    </div>

                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="card chefbox">
                                <div class="chefImageBox" type="button" data-toggle="modal"
                                    data-target="#exampleModalCenter001">
                                    <div class="chefImage">
                                        <img src="./assets/img/chef/ch000.jpg" class="card-img-top" alt="...">
                                    </div>
                                    <div class="chefTitle">
                                        <h5 class="card-title">主廚 : 納塔雅</h5>
                                    </div>
                                </div>
                                <div class="chefText">
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the bulk of the card's content.</p>

                                    <!-- Modal  主廚專長-->
                                    <div class="modal fade" id="exampleModalCenter001" tabindex="-1" role="dialog"
                                        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalCenterTitle">擅長料理
                                                    </h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body cook">
                                                    <p><span>美式 :</span> 煎法國吐司、蒔蘿黃瓜沙拉、匈牙利牛肉湯、奶油洋菇鱸魚排附香芹馬鈴薯
                                                    </p>
                                                    <p><span>法式 :</span> 薄片牛排三明治附高麗菜沙拉、蔬菜絲清湯、紅酒燴牛肉附奶油雞蛋麵、香草餡奶油泡芙
                                                    </p>
                                                    <p><span>德式 :</span> 德式熱馬鈴薯沙拉、奶油洋菇濃湯、匈牙利燴牛肉附奶油飯、烤蘋果奶酥
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-12 col-md-6">
                            <div class="card chefbox">
                                <div class="chefImageBox" type="button" data-toggle="modal"
                                    data-target="#exampleModalCenter002">
                                    <div class="chefImage">
                                        <img src="./assets/img/chef/ch007.png" class="card-img-top" alt="...">
                                    </div>
                                    <div class="chefTitle">
                                        <h5 class="card-title">副主廚 : 科里納卡</h5>
                                    </div>
                                </div>
                                <div class="chefText">
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the bulk of the card's content.</p>
                                    <!-- Modal  主廚專長-->
                                    <div class="modal fade" id="exampleModalCenter002" tabindex="-1" role="dialog"
                                        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">

                                        <div class="modal-dialog modal-dialog-centered" role="document">


                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalCenterTitle">擅長料理
                                                    </h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body cook">
                                                    <p><span>美式 :</span> 煎恩利蛋、義大利蔬菜湯、翠綠沙拉附法式沙拉醬、藍帶豬排附炸圓柱型馬鈴薯泥
                                                    </p>
                                                    <p><span>法式 :</span> 炒蛋附脆培根及蕃茄、翠綠沙拉附藍紋乳酪醬、蒜苗馬鈴薯冷湯、原汁烤全雞附煎烤馬鈴薯
                                                    </p>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>




                    <div class="row">

                        <div class="col-12 col-md-4">
                            <div class="card chefbox">
                                <div class="chefImageBox">
                                    <div class="chefImage">
                                        <img src="./assets/img/chef/ch002.png" class="card-img-top" alt="...">
                                    </div>
                                    <div class="chefTitle">
                                        <h5 class="card-title">領班 : 艾里</h5>
                                    </div>
                                </div>
                                <div class="chefText">
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the bulk of the card's content.</p>

                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-4">
                            <div class="card chefbox">
                                <div class="chefImageBox">
                                    <div class="chefImage">
                                        <img src="./assets/img/chef/ch001.png" class="card-img-top" alt="...">
                                    </div>
                                    <div class="chefTitle">
                                        <h5 class="card-title">副領班 : 愛莉絲</h5>
                                    </div>
                                </div>
                                <div class="chefText">
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the bulk of the card's content.</p>

                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-4">
                            <div class="card chefbox">
                                <div class="chefImageBox">
                                    <div class="chefImage">
                                        <img src="./assets/img/chef/ch004.png" class="card-img-top" alt="...">
                                    </div>
                                    <div class="chefTitle">
                                        <h5 class="card-title">一廚 : 莫托斯</h5>
                                    </div>
                                </div>
                                <div class="chefText">
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the bulk of the card's content.</p>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <div class="row">
                <div class=" col-12">
                    <footer id="footer">
                        <div class="containerForThree">
                            <div class="footerLeft footerContent">
                                <h4>地理位置</h4>
                                <p>
                                    成立於2001年天母中山北路七段的LA PASTA，至今已邁入第19年，
                                    在台灣（天母、內湖、南西）及上海共有8個據點。
                                    持續拓展與服務更多喜愛LA PASTA的朋友們。
                                </p>
                                <iframe
                                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1807.216924620721!2d121.51959462778096!3d25.053280383366364!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442a99c0ac0aa2f%3A0xe8d1f8b3f5e4a058!2zTGEgUGFzdGEg576p6bq15bGLIOWNl-ilv-W6lw!5e0!3m2!1szh-TW!2stw!4v1583303157756!5m2!1szh-TW!2stw"
                                    width="100%" height="auto" frameborder="0" style="border:0;" allowfullscreen="">
                                </iframe>
                            </div>
                            <div class="footerMid footerContent">
                                <h4>分店連結</h4>
                                <ul>
                                    <li><a href="#">Reggent 天母店</a> </li>
                                    <li><a href="#">Reggent 內湖店</a> </li>
                                    <li><a href="#">Reggent 光復店</a> </li>
                                    <li><a href="#">Reggent 南西店</a> </li>
                                    <div class="box"></div>
                                </ul>
                            </div>
                            <div class="footerRight footerContent">
                                <h4>聯絡我們</h4>
                                <form class="content-form">
                                    <input type="text" name="name" placeholder="Name">
                                    <input type="text" neam="e-mail" placeholder="E-Mail">
                                    <textarea name="message" placeholder="Message" rows="5"></textarea>
                                    <button class=" form button">發送</button>
                                </form>
                            </div>
                        </div>

                        <div class="copyRight">
                            <div class="container">
                                <div class="network">
                                    <a href="#">Facebook</a>
                                    <a href="#">GOOOFacebook</a>
                                    <a href="#">ITFacebook</a>
                                </div>
                                <p>
                                    COPY 2020 ©
                                </p>
                            </div>
                        </div>
                    </footer>
                </div>
            </div>
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
                integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
                crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
                integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
                crossorigin="anonymous"></script>


    </body>

</html>