<!DOCTYPE html>
<html lang="zh-TW">

    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="keywords" content="" />
        <meta name="author" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>chef</title>
        <link rel="stylesheet" href="./assets/css/rest.css">
        <link rel="stylesheet" href="./assets/css/menuNav.css">
        <link rel="stylesheet" href="./assets/css/chefRwd.css">

        <!-- i-con -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
            integrity="sha384–5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
        <!-- bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
            integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    </head>

    <body>
        <div class="container-fluid p-0">
            <div class="indexmain">
                <input type="checkbox" id="menuControl">
                <div class="headerContent">
                    <div class="logo">
                        <a href="./index.html"><img src="./assets/img/logo/regHotels.jpg"
                                style="width: 55%; height: 50px;"></a>
                    </div>
                    <label for="menuControl" class="menuBtn">
                        <img class="menuBtnImg" src="./assets/img/logo/BTN.png">
                    </label>
                    <nav>
                        <a href="./index.html">Home</a>
                        <a href="./menu.html">Menu</a>
                        <a href="./information.html">Information</a>
                        <a href="./chef.html">Chef</a>
                    </nav>
                </div>



                <div class="row .no-gutters titleContne">
                    <div class=" col-12">
                        <img src="./assets/img/header/pasta.jpeg" style="width: 100%;">
                    </div>
                </div>
                <div class="container-fluid p-0  main">

                    <div class="title">
                        <h3>
                            曾獲法國米麒麟榮譽3顆星
                        </h3>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-6" id="chef01">

                            <div class="card chefbox">
                                <!-- <h6>台灣-榮譽5顆星</h6> -->
                                <div class="chefImageBox">
                                    <div class="chefImage">
                                        <img src="./assets/img/chef/ch000.jpg" class="card-img-top" alt="...">
                                    </div>
                                    <div class="chefTitle">
                                        <h5 class="card-title">Executive chef : 納塔雅</h5>
                                    </div>
                                </div>
                                <div class="chefText">
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the bulk of the card's content.
                                    </p>
                                </div>
                            </div>


                        </div>
                        <div class="col-12 col-md-6" id="chef02">
                            <div class="card chefbox">
                                <div class="chefImageBox">
                                    <div class="chefImage">
                                        <img src="./assets/img/chef/ch007.png" class="card-img-top" alt="...">
                                    </div>
                                    <div class="chefTitle">
                                        <h5 class="card-title">Sous Chef : 科里納卡</h5>
                                    </div>
                                </div>
                                <div class="chefText">
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the bulk of the card's content.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-4" id="chef03">
                            <div class="card chefbox">
                                <div class="chefImageBox">
                                    <div class="chefImage">
                                        <img src="./assets/img/chef/ch002.png" class="card-img-top" alt="...">
                                    </div>
                                    <div class="chefTitle">
                                        <h5 class="card-title">Chef De Parite : 艾里</h5>
                                    </div>
                                </div>
                                <div class="chefText">
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the bulk of the card's content.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4" id="chef04">
                            <div class="card chefbox">
                                <div class="chefImageBox">
                                    <div class="chefImage">
                                        <img src="./assets/img/chef/ch001.png" class="card-img-top" alt="...">
                                    </div>
                                    <div class="chefTitle">
                                        <h5 class="card-title">Demi Chef De Parite : 愛莉絲</h5>
                                    </div>
                                </div>
                                <div class="chefText">
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the bulk of the card's content.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4" id="chef05">
                            <div class="card chefbox">
                                <div class="chefImageBox">
                                    <div class="chefImage">
                                        <img src="./assets/img/chef/ch004.png" class="card-img-top" alt="...">
                                    </div>
                                    <div class="chefTitle">
                                        <h5 class="card-title">commis A : 莫托斯</h5>
                                    </div>
                                </div>
                                <div class="chefText">
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the bulk of the card's content.</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- footer -->
            <div class="row">
                <div class=" col-12">
                    <footer id="footer">
                        <div class="containerForThree">
                            <div class="footerLeft footerContent">
                                <h4>地理位置</h4>
                                <p>
                                    成立於2001年天母中山北路七段的LA PASTA，至今已邁入第19年，
                                    在台灣（天母、內湖、南西）及上海共有8個據點。
                                    持續拓展與服務更多喜愛LA PASTA的朋友們。
                                </p>
                                <iframe
                                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3614.4210956062007!2d121.51810971484223!3d25.053712883963154!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442a99c0ac0aa2f%3A0xe8d1f8b3f5e4a058!2zTGEgUGFzdGEg576p6bq15bGLIOWNl-ilv-W6lw!5e0!3m2!1szh-TW!2stw!4v1583371067547!5m2!1szh-TW!2stw"
                                    width="100%" height="auto" frameborder="0" style="border:0;" allowfullscreen="">
                                </iframe>
                            </div>
                            <div class="footerMid footerContent">
                                <h4>分店連結</h4>
                                <ul>
                                    <li><a href="./index.html">Home Page Variations</a> </li>
                                    <li><a href="./information.html">Information Page Variations</a> </li>
                                    <li><a href="./menu.html">Menu Page Variations</a> </li>
                                    <li><a href="#chef01">Chef Page Variations</a> </li>
                                </ul>
                            </div>
                            <div class="footerRight footerContent">
                                <h4>聯絡我們</h4>
                                <form class="content-form">
                                    <input type="text" name="name" placeholder="Name">
                                    <input type="text" neam="e-mail" placeholder="E-Mail">
                                    <textarea name="message" placeholder="Message" rows="5"></textarea>
                                    <button class=" form button">發送</button>
                                </form>
                            </div>
                        </div>

                        <div class="copyRight">
                            <div class="container">
                                <div class="network">
                                    <a href="#">
                                        <span style="font-size: 3em; color: Mediumslateblue;">
                                            <i class="fab fa-facebook-square"></i>
                                        </span>
                                    </a>
                                    <a href="#">
                                        <span style="font-size: 3em; color: Mediumslateblue;">
                                            <i class="fab fa-google-plus-square"></i>
                                        </span>
                                    </a>
                                    <a href="#">
                                        <span style="font-size: 3em; color: Mediumslateblue;">
                                            <i class="fab fa-github-square"></i>
                                        </span>
                                    </a>
                                    <a href="#">
                                        <span style="font-size: 3em; color: Mediumslateblue;">
                                            <i class="fab fa-instagram"></i>
                                        </span>
                                    </a>
                                    <a href="#">
                                        <span style="font-size: 3em; color: Mediumslateblue;">
                                            <i class="fab fa-twitter-square"></i>
                                        </span>
                                    </a>
                                </div>
                                <p>
                                    Responsive Web Design 2020
                                </p>
                                <p class="footer-p">
                                    Copyright © 2020 William
                                </p>
                            </div>
                        </div>
                    </footer>
                </div>
            </div>

            <!-- popover  -->
            <div id="popoverBoxAll">
                <div class="popoverbox" id="popover01">
                    <div class="popover-text">
                        <div class="popover-box-btn" id="popover-box-btn01">
                            <span style="font-size: 30px; color:#DC143C;">
                                <i class="fas fa-times-circle"></i>
                            </span>
                        </div>
                        <h4>WEST RESTAURANT</h4>
                        <div class="popover-chef-content">
                            <div class="popover-chef-content-header">
                                <div class="chef-name">
                                    <h5><span>主廚: 納塔雅</span></h5>
                                    <div class="chef-birthday">
                                        <p>( 國籍 : 台灣 )</p>
                                        <p>生日: 1989/05/28</p>
                                    </div>
                                </div>
                                <div class="chef-images">
                                    <img class="popover-chef-content-images" src="../lapasta/assets/img/chef/ch000.jpg">
                                </div>
                            </div>
                            <div class="popover-chef-content-experience">
                                <h5>
                                    經歷:
                                </h5>
                                <ul>
                                    <li>喜來登西餐廳:主廚</li>
                                    <li>國賓飯店西廚房:主廚</li>
                                    <li>晶華酒店柏麗廳:主廚</li>
                                </ul>
                            </div>
                            <div class="popover-chef-content-skill">
                                <h5>
                                    專業擅長:
                                </h5>
                                <ul>
                                    <li>義式鄉村料理</li>
                                    <li>美式自由風味</li>
                                    <li>法式餐酒料理</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="popoverbox" id="popover02">
                    <div class="popover-text">
                        <div class="popover-box-btn" id="popover-box-btn02">
                            <span style="font-size: 30px; color:#DC143C;">
                                <i class="fas fa-times-circle"></i>
                            </span>
                        </div>
                        <h4>WEST RESTAURANT</h4>
                        <div class="popover-chef-content">
                            <div class="popover-chef-content-header">
                                <div class="chef-name">
                                    <h5><span>副主廚 : 科里納卡</span></h5>
                                    <div class="chef-birthday">
                                        <p>( 國籍 : 義大利 )</p>
                                        <p>生日: 1989/04/22</p>
                                    </div>
                                </div>
                                <div class="chef-images">
                                    <img class="popover-chef-content-images" src="assets/img/chef/ch007.png">
                                </div>
                            </div>
                            <div class="popover-chef-content-experience">
                                <h5>
                                    經歷:
                                </h5>
                                <ul>
                                    <li>喜來登西餐廳:領班</li>
                                    <li>老爺飯店西廚房:副主廚</li>
                                    <li>晶華酒店柏麗廳:副主廚</li>
                                </ul>
                            </div>
                            <div class="popover-chef-content-skill">
                                <h5>
                                    專業擅長:
                                </h5>
                                <ul>
                                    <li>義式鄉村料理</li>
                                    <li>美式自由風味</li>
                                    <li>法式餐酒料理</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="popoverbox" id="popover03">
                    <div class="popover-text">

                        <div class="popover-box-btn chef-top" id="popover-box-btn03">
                            <span style="font-size: 30px; color:#DC143C;">
                                <i class="fas fa-times-circle"></i>
                            </span>
                        </div>


                        <h4>WEST RESTAURANT</h4>
                        <div class="popover-chef-content">
                            <div class="popover-chef-content-header">
                                <div class="chef-name">
                                    <h5><span>領班 : 艾里</span></h5>
                                    <div class="chef-birthday">
                                        <p>( 國籍 : 捷克 )</p>
                                        <p>生日: 1989/04/22</p>
                                    </div>
                                </div>
                                <div class="chef-images">
                                    <img class="popover-chef-content-images" src="assets/img/chef/ch002.png">
                                </div>
                            </div>
                            <div class="popover-chef-content-experience">
                                <h5>
                                    經歷:
                                </h5>
                                <ul>
                                    <li>西華西餐廳:領班</li>
                                    <li>大地飯店西廚房:副主廚</li>
                                    <li>晶華酒店柏麗廳:一廚</li>
                                </ul>
                            </div>
                            <div class="popover-chef-content-skill">
                                <h5>
                                    專業擅長:
                                </h5>
                                <ul>
                                    <li>義式鄉村料理</li>
                                    <li>美式自由風味</li>
                                    <li>法式餐酒料理</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="popoverbox" id="popover04">
                    <div class="popover-text">
                        <div class="popover-box-btn" id="popover-box-btn04">
                            <span style="font-size: 30px; color:#DC143C;">
                                <i class="fas fa-times-circle"></i>
                            </span>
                        </div>
                        <h4>WEST RESTAURANT</h4>
                        <div class="popover-chef-content">
                            <div class="popover-chef-content-header">
                                <div class="chef-name">
                                    <h5><span>副領班 : 愛麗絲</span></h5>
                                    <div class="chef-birthday">
                                        <p>( 國籍 : 奧地利 )</p>
                                        <p>生日: 1989/04/22</p>
                                    </div>
                                </div>
                                <div class="chef-images">
                                    <img class="popover-chef-content-images" src="assets/img/chef/ch001.png">
                                </div>
                            </div>
                            <div class="popover-chef-content-experience">
                                <h5>
                                    經歷:
                                </h5>
                                <ul>
                                    <li>長榮桂冠西餐廳:副領班</li>
                                    <li>國賓飯店西廚房:領班</li>
                                    <li>典華酒店柏麗廳:一廚</li>
                                </ul>
                            </div>
                            <div class="popover-chef-content-skill">
                                <h5>
                                    專業擅長:
                                </h5>
                                <ul>
                                    <li>義式鄉村料理</li>
                                    <li>美式自由風味</li>
                                    <li>法式餐酒料理</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="popoverbox" id="popover05">
                    <div class="popover-text">
                        <div class="popover-box-btn" id="popover-box-btn05">
                            <span style="font-size: 30px; color:#DC143C;">
                                <i class="fas fa-times-circle"></i>
                            </span>
                        </div>
                        <h4>WEST RESTAURANT</h4>
                        <div class="popover-chef-content">
                            <div class="popover-chef-content-header">
                                <div class="chef-name">
                                    <h5><span>一廚 : 莫托斯</span></h5>
                                    <div class="chef-birthday">
                                        <p>( 國籍 : 美國 )</p>
                                        <p>生日: 1989/04/22</p>
                                    </div>
                                </div>
                                <div class="chef-images">
                                    <img class="popover-chef-content-images" src="assets/img/chef/ch004.png">
                                </div>
                            </div>
                            <div class="popover-chef-content-experience">
                                <h5>
                                    經歷:
                                </h5>
                                <ul>
                                    <li>維多利亞酒店西餐廳:領班</li>
                                    <li>喜來登飯店西廚房:一廚</li>
                                    <li>晶華酒店柏麗廳:二廚</li>
                                </ul>
                            </div>
                            <div class="popover-chef-content-skill">
                                <h5>
                                    專業擅長:
                                </h5>
                                <ul>
                                    <li>義式鄉村料理</li>
                                    <li>美式自由風味</li>
                                    <li>法式餐酒料理</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>



            </div>



    </body>
    <script src="../lapasta/assets/js/chef.js"></script>

</html>