<!DOCTYPE html>
<html lang="zh-TW">

    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="keywords" content="" />
        <meta name="author" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>william&L’Atelier de Patrick </title>
        <link rel="stylesheet" href="./assets/css/rest.css">
        <link rel="stylesheet" href="./assets/css/menuNav.css">
        <link rel="stylesheet" href="./assets/css/rwdTestSingIn.css">


        <!-- i-con -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
            integrity="sha384–5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">

        <!-- bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
            integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    </head>

    <body>

        <div class="container-fluid p-0">
            <div class="indexmain">
                <input type="checkbox" id="menuControl">
                <!-- header -->
                <div class="headerContent">
                    <div class="logo">
                        <a href="./index.html"><img src="./assets/img/logo/regHotels.jpg"
                                style="width: 55%; height: 50px;"></a>
                    </div>

                    <label for="menuControl" class="menuBtn">
                        <img class="menuBtnImg" src="./assets/img/logo/BTN.png">
                    </label>

                    <nav>
                        <a class="navAbox" href="./index.html">
                            Home
                        </a>
                        <a href="./menu.html">Menu</a>
                        <a href="./information.html">Information</a>
                        <a href="./chef.html">ChefTeam</a>
                        <a id="SignInBtn" style="cursor:pointer;">SignIn</a>
                    </nav>
                </div>
                <!-- 餐館介紹 -->
                <div class="row">
                    <div class=" col-12 titleContne">
                        <div class="row .no-gutters">

                            <div class=" col-12">
                                <img class="carousel-img" src="./assets/img/pasta/pasta01.jpg" id="poster"
                                    style="width: 100%;">
                            </div>




                        </div>
                        <h3 class="titleContne-title"> Lapasta-Hotel </h3>
                        <p class="titleContne-text">
                            <span>自2002年7月1日起</span>，飯店正式由寒舍餐旅管理顧問股份有限公司(www.mhcwafh-group.com)接掌營運，
                            並更名為W’Illiams大飯店。為了能夠創造出煥然一新的精緻時尚風格，並保留古典中國優雅蘊歛的文化元素，
                            館內處處可見精心擺置的古董藝術精品，及饒富趣味的古中國意象圖騰。台北喜來登共擁有688間全新設計裝潢的各式客房及套房
                            ，及多間中、西、日式美食餐廳，提供賓客最豐富精采的食宿享受。
                            傳承三十餘年來一貫溫婉細膩的服務精神，W’Illiams大飯店誠摯邀請您一同驗證這場充滿感動與驚喜的時尚風華再現！
                            W’Illiams大飯店自1981年3月24日起，以『來來香拉大飯店』之名正式開幕。
                            同時並與國際喜達屋酒店管理顧問集團簽訂世界性連鎖業務技術合作契約至今，提供五星級的優質設施與服務。
                        </p>
                    </div>
                </div>
                <!-- 3個成分內容介紹 -->
                <div class="row foodContentAll">
                    <div class="col-xl-4 col-12 foodContent">
                        <img class="roundImg" src="./assets/img/picColor/00566.jpg" width="50%">
                        <h3>
                            在地小農食材
                        </h3>
                        <p>
                            Sed ullamcorper tellus erat, non ultrices sem tincidunt euismod. Fusce rhoncus porttitor
                            velit,
                            eu bibendum nibh aliquet vel. Fusce lorem leo, vehicula at nibh quis, facilisis accumsan
                            turpis.
                        </p>
                    </div>
                    <div class="col-xl-4 col-12 foodContent">

                        <img class=" roundImg scale" src="./assets/img/picColor/chef001.jpg" width="50%">
                        <h3>
                            米其林行政主廚
                        </h3>
                        <p>
                            Sed ullamcorper tellus erat, non ultrices sem tincidunt euismod. Fusce rhoncus porttitor
                            velit,
                            eu bibendum nibh aliquet vel. Fusce lorem leo, vehicula at nibh quis, facilisis accumsan
                            turpis.
                        </p>
                    </div>
                    <div class="col-xl-4 col-12 foodContent">
                        <img class="roundImg" src="./assets/img/picColor/00568.jpg" width="50%">
                        <h3>
                            堅持專注品質
                        </h3>
                        <p>
                            Sed ullamcorper tellus erat, non ultrices sem tincidunt euismod. Fusce rhoncus porttitor
                            velit,
                            eu bibendum nibh aliquet vel. Fusce lorem leo, vehicula at nibh quis, facilisis accumsan
                            turpis.
                        </p>
                    </div>
                </div>
                <!-- chef介紹 -->
                <div class="row" id="chef">
                    <div class="col-xl-6 col-12 chefContent images-boxhadow">
                        <img class="chefImg" src="./assets/img/picColor/chef03.jpg" width=95%">
                    </div>
                    <div class="col-xl-6 col-12">
                        <div class="chefContents">
                            <h4>Tody Chef: CurryJo</h4>
                            <p>
                                善領導，也會管理
                                好的管理者善於領導人們完成任務，具備計畫、組織與解決問題的能力。成
                                功的主廚同時也會是好的管理者，他們知道如何創造一個讓員工都求知若渴的工作環境，
                                讓大家朝著共同目標努力，
                                更重要的是，讓每個人都感受到自己在團隊裡扮演重要角色。
                            </p>
                            <p>
                                善銷售與成本間的緊密關係，
                                成本控制很重要，但如果目光長遠，就知道節省成本不是長久之計。主廚最主要的任務之一就是想辦法增加營收，
                                比如說以創意的點子增加客流量、從菜單設計來掌控平均消費金額，或是參與外場訓練以從中幫助餐廳營運等。
                                好的食物和服務是基本
                                廚師得精通烹飪，做出美食，這是毫無疑問的事實。但如果只是會做菜，並不能帶領餐廳走向成功。除了美味的食物，
                                周到的服務更是不可少的一塊，要做到這樣，
                                服務生除了得具備紮實的知識，同時也要保持柔軟身段，才能帶給顧客極致的用餐體驗，
                                這也是讓顧客願意回訪的重要原因。
                            </p>
                            <p>
                                善管理，
                                好的管理者善於領導人們完成任務，具備計畫、組織與解決問題的能力。成
                                功的主廚同時也會是好的管理者，他們知道如何創造一個讓員工都求知若渴的工作環境，
                                讓大家朝著共同目標努力，
                                更重要的是，讓每個人都感受到自己在團隊裡扮演重要角色。
                            </p>

                        </div>
                    </div>
                </div>
            </div>
            <!-- footer -->
            <div class="row">
                <div class=" col-12">
                    <footer id="footer">
                        <div class="containerForThree">
                            <div class="footerLeft footerContent">
                                <h4>企業堅持</h4>
                                <p>
                                    LA PASTA
                                    將義大利麵帶入生活的經營理念，除了在用料方面下足功夫，以最實在、
                                    大方又新鮮的食材回饋給喜愛義大利麵的朋友
                                    ，並選用歐洲原裝進口OLITALIA冷壓初榨橄欖油及德國原裝進口HUBER奶油製品
                                    ，在烹調過程中不添加味精及防腐劑，讓你吃的開心也吃的安心。
                                </p>
                            </div>
                            <div class="footerMid footerContent">
                                <h4>快速連結</h4>
                                <ul>
                                    <li><a href="./index.html">Home Page Variations</a> </li>
                                    <li><a href="./information.html">Information Page Variations</a> </li>
                                    <li><a href="./menu.html">Menu Page Variations</a> </li>
                                    <li><a href="./chef.html">Chef Page Variations</a> </li>
                                </ul>
                            </div>
                            <div class="footerRight footerContent">
                                <h4>聯絡我們</h4>
                                <form class="content-form">

                                    <input type="text" name="name" placeholder="Name">
                                    <input type="text" neam="e-mail" placeholder="E-Mail">
                                    <textarea name="message" placeholder="Message" rows="5"></textarea>
                                    <button class=" form button">發送</button>
                                </form>
                            </div>
                        </div>

                        <div class="copyRight">
                            <div class="container">
                                <div class="network">
                                    <a href="https://www.facebook.com" title="facebook">
                                        <span style="font-size: 3em; color:  #34465d;">
                                            <i class="fab fa-facebook-square"></i>
                                        </span>
                                    </a>
                                    <a href="https://www.google.com" title="google">
                                        <span style="font-size: 3em; color:  #34465d;">
                                            <i class="fab fa-google-plus-square"></i>
                                        </span>
                                    </a>
                                    <a href="https://www.github.com" title="github">
                                        <span style="font-size: 3em; color:  #34465d;">
                                            <i class="fab fa-github-square"></i>
                                        </span>
                                    </a>
                                    <a href="https://www.instagram.com" title="instagram">
                                        <span style="font-size: 3em; color:  #34465d;">
                                            <i class="fab fa-instagram"></i>
                                        </span>
                                    </a>
                                    <a href="https://www.twitter.com" title="twitter">
                                        <span style="font-size: 3em; color: #34465d;">
                                            <i class="fab fa-twitter-square"></i>
                                        </span>
                                    </a>
                                </div>
                                <p>
                                    Responsive Web Design 2020
                                </p>
                                <p class="footer-p">
                                    Copyright © 2020 William
                                </p>
                            </div>
                        </div>
                    </footer>
                </div>
            </div>
        </div>

        <!-- 蓋板廣告 -->
        <div id="ad-content">
            <div id="ad">
                <div class="ad-img-box">
                    <img src='./assets/img/ad/ad02.jpg' class="ad-img">
                    <div class="popover-box-btn chef-top ad-close-btn" id="ad-btn">
                        <span>
                            <i class="fas fa-times-circle"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <!-- 登入頁面 -->
        <div class="popovers" id="singin-box">
            <div class="popovers-Box">
                <div id="a01">
                    <div class="inputCBox">
                        <button id="close">X</button>
                        <div class="titleContent">
                            <h3 class="title">welcome</h3>
                        </div>
                        <div class="inputContent">
                            <input class="email" type="text" placeholder="請輸入電子信箱 E-mail" />
                            <input class="password" type="text" placeholder="請輸入6-15碼英數混和密碼" />
                            <p>英文字母需區分大小寫</p>
                            <div class="verification">
                                <input class="sixnumber" type="text" placeholder="請輸入右圖6碼數字" />
                                <img class="sixnumberIMG" src="./assets/img/signin/777.jpg">
                            </div>
                        </div>
                        <div class="buttonContent">
                            <button class="button" type="button">確認</button>
                            <label>
                                <input class="checkbox" type="checkbox"> 記住我的帳號
                            </label>
                        </div>
                        <div class="textContent">
                            <div class="text">
                                <a href="#">免費註冊</a>
                                <a href="#">忘記密碼</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="./assets/js/index.js"></script>
    </body>

</html>