<!DOCTYPE html>
<html lang="zh-TW">

    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="keywords" content="" />
        <meta name="author" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>william&L’Atelier de Patrick </title>
        <link rel="stylesheet" href="./assets/css/rest.css">
        <link rel="stylesheet" href="./assets/css/menuNav.css">
        <link rel="stylesheet" href="./assets/css/informationRwd.css">

        <!-- bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
            integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    </head>

    <body>
        <div class="container-fluid p-0 ">
            <div class="indexmain">
                <input type="checkbox" id="menuControl">
                <div class="headerContent">
                    <div class="logo">
                        <img src="./assets/img/logo/regHotels.jpg" style="width: 55%;">
                    </div>
                    <label for="menuControl" class="menuBtn">
                        <img class="menuBtnImg" src="./assets/img/picColor/BTN.png">
                    </label>
                    <nav>
                        <a href="./index.html">Home</a>
                        <a href="./menu.html">Menu</a>
                        <a href="./information.html">Information</a>
                        <a href="#table">PriceList</a>
                    </nav>
                </div>
                <div class="row .no-gutters">
                    <div class=" col-12">
                        <img src="./assets/img/header/pasta.jpeg" style="width: 100%;">
                    </div>
                </div>

                <div class="container-fluid p-0  information">
                    <div class="row  inf-contentall">
                        <div class="col-12 inf-content maps">
                            <h3>餐廳地點</h3>
                            <h6>地址</h6>
                            <p>台北市大同區南京西路25巷4-3號
                            </p>
                            <h6>交通方式</h6>
                            <p>捷運：松山新店線(松山-新店) - 公館站 2 號出口 (步行約 4 分鐘)</p>
                        </div>
                        <div class="col-12 inf-content discount">
                            <h3>專屬優惠 </h3>
                            <h6>EZCASH 紅利回饋</h6>
                            <p>預訂 EZTABLE 獨家方案，預付最高可享 0.5% EZCASH 回饋</p>
                        </div>
                        <div class="col-12 inf-content dishes">
                            <h3>菜色介紹 </h3>
                            <h6>適合聚餐類型</h6>
                            <p>浪漫約會, 商業聚餐, 家庭聚餐, 團體聚餐, 朋友聚餐, 生日慶祝</p>
                            <h6>料理種類</h6>
                            <p>義大利料理, 早午餐, 自助餐, 義大利麵, 比薩, 海鮮, 牛排, 素食, 主題餐廳</p>
                        </div>
                        <div class="col-12 inf-content notice">
                            <h3>用餐須知</h3>
                            <p></p>
                            <p>➤ 用餐前 2 個月開放訂位；每次訂位接受人數 1~12 人；詳細訂位規則請電洽客服 ➤ 預付金額不可折抵停車費用 ➤
                                訂位請備註孩童人數，以符合用餐舒適度 ➤ 特殊節慶假日、以及包廂恕無法提供線上訂位，請洽餐廳服務人員訂位 ➤
                                自備酒水服務費收取方式：葡萄酒每瓶NT500、烈酒每瓶NT1,000 ➤ 同一團體分開不同人名線上訂位，恕無法提供併桌需求</p>
                        </div>


                        <div class="col-12 table" id="table">
                            <div class="table-content">
                                <h5>
                                    餐飲營業時間價目表
                                </h5>
                                <table>
                                    <tr>
                                        <th>餐別</th>
                                        <th>供應時間</th>
                                        <th>價錢</th>
                                    </tr>
                                    <tr>
                                        <td>自助早餐</td>
                                        <td>07：00－10：30</td>
                                        <td>大人收費1190元/客</td>
                                    </tr>
                                    <tr>
                                        <td>自助午餐</td>
                                        <td>11：00－14：30</td>
                                        <td>大人收費1650元/客</td>
                                    </tr>
                                    <tr>
                                        <td>自助晚餐</td>
                                        <td>17：00－21：30</td>
                                        <td>大人收費1980元/客</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class=" col-12">
                    <footer id="footer">
                        <div class="containerForThree">
                            <div class="footerLeft footerContent">
                                <h4>地理位置</h4>
                                <p>
                                    成立於2001年天母中山北路七段的LA PASTA，至今已邁入第19年，
                                    在台灣（天母、內湖、南西）及上海共有8個據點。
                                    持續拓展與服務更多喜愛LA PASTA的朋友們。
                                </p>

                                <iframe
                                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1807.216924620721!2d121.51959462778096!3d25.053280383366364!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442a99c0ac0aa2f%3A0xe8d1f8b3f5e4a058!2zTGEgUGFzdGEg576p6bq15bGLIOWNl-ilv-W6lw!5e0!3m2!1szh-TW!2stw!4v1583303157756!5m2!1szh-TW!2stw"
                                    width="100%" height="auto" frameborder="0" style="border:0;" allowfullscreen="">
                                </iframe>

                            </div>
                            <div class="footerMid footerContent">
                                <h4>分店連結</h4>
                                <ul>
                                    <li><a href="#">Reggent 天母店</a> </li>
                                    <li><a href="#">Reggent 內湖店</a> </li>
                                    <li><a href="#">Reggent 光復店</a> </li>
                                    <li><a href="#">Reggent 南西店</a> </li>

                                    <div class="box"></div>
                                </ul>
                            </div>
                            <div class="footerRight footerContent">
                                <h4>聯絡我們</h4>
                                <form class="content-form">

                                    <input type="text" name="name" placeholder="Name">
                                    <input type="text" neam="e-mail" placeholder="E-Mail">
                                    <textarea name="message" placeholder="Message" rows="5"></textarea>
                                    <button class=" form button">發送</button>
                                </form>
                            </div>
                        </div>

                        <div class="copyRight">
                            <div class="container">
                                <div class="network">
                                    <a href="#">Facebook</a>
                                    <a href="#">GOOOFacebook</a>
                                    <a href="#">ITFacebook</a>
                                </div>
                                <p>
                                    COPY 2020 ©
                                </p>
                            </div>
                        </div>
                    </footer>
                </div>
            </div>

        </div>





    </body>

</html>