<!DOCTYPE html>
<html lang="zh-TW">

    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="keywords" content="" />
        <meta name="author" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>william&L’Atelier de Patrick </title>
        <link rel="stylesheet" href="./assets/css/rest.css">
        <link rel="stylesheet" href="./assets/css/menuNav.css">
        <link rel="stylesheet" href="./assets/css/menuRwd.css">
        <!-- i-con -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
            integrity="sha384–5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">

        <!-- bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
            integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    </head>

    <body>

        <div class="container-fluid p-0 ">
            <div class="indexmain">
                <!-- header -->

                <input type="checkbox" id="menuControl">
                <div class="headerContent">
                    <div class="logo">
                        <a href="./index.html"><img src="./assets/img/logo/regHotels.jpg"
                                style="width: 55%; height: 50px;"></a>
                    </div>
                    <label for="menuControl" class="menuBtn">
                        <img class="menuBtnImg" src="./assets/img/logo/BTN.png">
                    </label>
                    <nav>
                        <a href="./index.html">Home</a>
                        <a href="./menu.html">Menu</a>
                        <a href="./information.html">Information</a>
                        <a href="./chef.html">ChefTeam</a>
                        <a id="SignInBtn" style="cursor:pointer;">SignIn</a>
                    </nav>
                </div>



                <div class="row .no-gutters titleContne">
                    <div class="col-12">
                        <img src="./assets/img/header/pasta.jpeg" style="width: 100%;">
                    </div>
                </div>


                <!-- constent -->
                <div class="container-fluid p-0">


                    <div class="main">
                        <div class="row newDishes">
                            <div class="col-12 col-md-4 asideBar">

                                <div class="card menubox aside01">
                                    <div class="title1">
                                        <h4>套餐</h4>
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item"><a href="#" id="menu04">商業午餐 </a></li>
                                        <li class="list-group-item"><a href="#" id="menu05">XL套餐 </a></li>
                                        <li class="list-group-item"><a href="#" id="menu06">輕食餐 </a></li>
                                        <li class="list-group-item"><a href="#" id="menu07">兒童餐 </a></li>
                                    </ul>
                                </div>


                                <div class="card menubox aside02">
                                    <div class="title2">
                                        <h4>單點</h4>
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item"><a href="#" id="menu00">義大利麵 Pasta</a></li>
                                        <li class="list-group-item"><a href="#" id="menu01">沙拉 Salad</a></li>
                                        <li class="list-group-item"><a href="#" id="menu02">湯品 Soup</a></li>
                                        <li class="list-group-item"><a href="#" id="menu03">飲料 Drink</a></li>
                                    </ul>
                                </div>

                            </div>

                            <div class="col-12 col-md-8 mainBar openmainBar" id="mainBar00">
                                <div class="row carboxthree">
                                    <div class="col-12 col-md-4 cardbox">
                                        <div class="card">
                                            <img src="./assets/img/portfolio/Cream01.jpg" class="card-img-top"
                                                alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">奶油培根筆尖麵</h5>
                                                <p class="card-text">Some quick example text to build on the card title
                                                    and
                                                    make
                                                    up the bulk of the card's content.</p>
                                                <div class="btnbox">
                                                    <a href="#" class="btn btn-primary">價格</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4 cardbox">
                                        <div class="card">
                                            <div class="hot-div">HOT</div>
                                            <img src="./assets/img/portfolio/Cream02.jpg" class="card-img-top"
                                                alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">南瓜起司雞貝殼麵</h5>
                                                <p class="card-text">Some quick example text to build on the card title
                                                    and
                                                    make
                                                    up the bulk of the card's content.</p>
                                                <div class="btnbox">
                                                    <a href="#" class="btn btn-primary">價格</a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4 cardbox">
                                        <div class="card">
                                            <img src="./assets/img/portfolio/Cream03.jpg" class="card-img-top"
                                                alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">奶油鮭魚義大利麵</h5>
                                                <p class="card-text">Some quick example text to build on the card title
                                                    and
                                                    make
                                                    up the bulk of the card's content.</p>
                                                <div class="btnbox">
                                                    <a href="#" class="btn btn-primary">價格</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row carboxthree">
                                    <div class="col-12 col-md-4 cardbox">
                                        <div class="card">
                                            <img src="./assets/img/portfolio/Tomato01.jpg" class="card-img-top"
                                                alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">茄汁肉丸子義大利麵</h5>
                                                <p class="card-text">Some quick example text to build on the card title
                                                    and
                                                    make
                                                    up the bulk of the card's content.</p>
                                                <div class="btnbox">
                                                    <a href="#" class="btn btn-primary">價格</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4 cardbox">
                                        <div class="card">
                                            <img src="./assets/img/portfolio/Tomato02.jpg" class="card-img-top"
                                                alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">茄汁海鮮義大利麵</h5>
                                                <p class="card-text">Some quick example text to build on the card title
                                                    and
                                                    make
                                                    up the bulk of the card's content.</p>
                                                <div class="btnbox">
                                                    <a href="#" class="btn btn-primary">價格</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4 cardbox">
                                        <div class="card">
                                            <div class="hot-div">HOT</div>
                                            <img src="./assets/img/portfolio/Tomato03.jpg" class="card-img-top"
                                                alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">波隆那肉醬義大利麵</h5>
                                                <p class="card-text">Some quick example text to build on the card title
                                                    and
                                                    make
                                                    up the bulk of the card's content.</p>
                                                <div class="btnbox">
                                                    <a href="#" class="btn btn-primary">價格</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row carboxthree">
                                    <div class="col-12 col-md-4 cardbox">
                                        <div class="card">
                                            <div class="hot-div">HOT</div>
                                            <img src="./assets/img/portfolio/Olive01.jpg" class="card-img-top"
                                                alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">香蒜白酒蛤蜊細麵</h5>
                                                <p class="card-text">Some quick example text to build on the card title
                                                    and
                                                    make
                                                    up the bulk of the card's content.</p>
                                                <div class="btnbox">
                                                    <a href="#" class="btn btn-primary">價格</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4 cardbox">
                                        <div class="card">
                                            <div class="hot-div">HOT</div>
                                            <img src="./assets/img/portfolio/Basil01.jpg" class="card-img-top"
                                                alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">青醬雞肉義大利麵</h5>
                                                <p class="card-text">Some quick example text to build on the card title
                                                    and
                                                    make
                                                    up the bulk of the card's content.</p>
                                                <div class="btnbox">
                                                    <a href="#" class="btn btn-primary">價格</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-8 mainBar" id="mainBar01">
                                <div class="row carboxthree">
                                    <div class="col-12 col-md-4 cardbox">
                                        <div class="card">
                                            <img src="./assets/img/portfolio/sala01.jpg" class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">田園時蔬沙拉</h5>
                                                <p class="card-text">Some quick example text to build on the card title
                                                    and
                                                    make
                                                    up the bulk of the card's content.</p>
                                                <div class="btnbox">
                                                    <a href="#" class="btn btn-primary">價格</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4 cardbox">
                                        <div class="card">
                                            <div class="hot-div">HOT</div>
                                            <img src="./assets/img/portfolio/sala02.jpg" class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">馬鈴薯沙拉</h5>
                                                <p class="card-text">Some quick example text to build on the card title
                                                    and
                                                    make
                                                    up the bulk of the card's content.</p>
                                                <div class="btnbox">
                                                    <a href="#" class="btn btn-primary">價格</a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4 cardbox">
                                        <div class="card">
                                            <img src="./assets/img/portfolio/sala03.jpg" class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">季節水果沙拉</h5>
                                                <p class="card-text">Some quick example text to build on the card title
                                                    and
                                                    make
                                                    up the bulk of the card's content.</p>
                                                <div class="btnbox">
                                                    <a href="#" class="btn btn-primary">價格</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-8 mainBar" id="mainBar02">
                                <div class="row carboxthree">
                                    <div class="col-12 col-md-4 cardbox">
                                        <div class="card">
                                            <div class="hot-div">HOT</div>
                                            <img src="./assets/img/portfolio/soup01.jpg" class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">今日特製湯</h5>
                                                <p class="card-text">Some quick example text to build on the card title
                                                    and
                                                    make
                                                    up the bulk of the card's content.</p>
                                                <div class="btnbox">
                                                    <a href="#" class="btn btn-primary">價格</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4 cardbox">
                                        <div class="card">
                                            <img src="./assets/img/portfolio/soup02.jpg" class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">洋蔥湯</h5>
                                                <p class="card-text">Some quick example text to build on the card title
                                                    and
                                                    make
                                                    up the bulk of the card's content.</p>
                                                <div class="btnbox">
                                                    <a href="#" class="btn btn-primary">價格</a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4 cardbox">
                                        <div class="card">
                                            <img src="./assets/img/portfolio/soup03.jpg" class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">蔬菜蕃茄湯</h5>
                                                <p class="card-text">Some quick example text to build on the card title
                                                    and
                                                    make
                                                    up the bulk of the card's content.</p>
                                                <div class="btnbox">
                                                    <a href="#" class="btn btn-primary">價格</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row carboxthree">
                                    <div class="col-12 col-md-4 cardbox">
                                        <div class="card">
                                            <div class="hot-div">HOT</div>
                                            <img src="./assets/img/portfolio/soup04.jpg" class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">酥皮濃湯</h5>
                                                <p class="card-text">Some quick example text to build on the card title
                                                    and
                                                    make
                                                    up the bulk of the card's content.</p>
                                                <div class="btnbox">
                                                    <a href="#" class="btn btn-primary">價格</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4 cardbox">
                                        <div class="card">
                                            <img src="./assets/img/portfolio/soup05.png" class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">拿坡里海鮮湯</h5>
                                                <p class="card-text">Some quick example text to build on the card title
                                                    and
                                                    make
                                                    up the bulk of the card's content.</p>
                                                <div class="btnbox">
                                                    <a href="#" class="btn btn-primary">價格</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-8 mainBar " id="mainBar03">
                                <div class="row carboxthree">
                                    <div class="col-12 col-md-4 cardbox">
                                        <div class="card">
                                            <img src="./assets/img/portfolio/drink01.jpg" class="card-img-top"
                                                alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">焦糖拿鐵 冰/熱</h5>
                                                <p class="card-text">Some quick example text to build on the card title
                                                    and
                                                    make
                                                    up the bulk of the card's content.</p>
                                                <div class="btnbox">
                                                    <a href="#" class="btn btn-primary">價格</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4 cardbox">
                                        <div class="card">
                                            <img src="./assets/img/portfolio/drink02.jpg" class="card-img-top"
                                                alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">紅茶 冰/熱</h5>
                                                <p class="card-text">Some quick example text to build on the card title
                                                    and
                                                    make
                                                    up the bulk of the card's content.</p>
                                                <div class="btnbox">
                                                    <a href="#" class="btn btn-primary">價格</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4 cardbox">
                                        <div class="card">
                                            <img src="./assets/img/portfolio/drink03.jpg" class="card-img-top"
                                                alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">特調經典奶茶 冰/熱</h5>
                                                <p class="card-text">Some quick example text to build on the card title
                                                    and
                                                    make
                                                    up the bulk of the card's content.</p>
                                                <div class="btnbox">
                                                    <a href="#" class="btn btn-primary">價格</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-8 mainBar " id="mainBar04">
                                <div class="row carboxthree">
                                    <div class="col-12 col-md-4 cardbox">
                                        <div class="card">
                                            <img src="./assets/img/set/lunch/lunch01.jpg" class="card-img-top"
                                                alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">商業午餐1</h5>
                                                <p class="card-text">Some quick example text to build on the card title
                                                    and
                                                    make
                                                    up the bulk of the card's content.</p>
                                                <div class="btnbox">
                                                    <a href="#" class="btn btn-primary">價格</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4 cardbox">
                                        <div class="card">
                                            <img src="./assets/img/set/lunch/lunch02.jpg" class="card-img-top"
                                                alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">商業午餐2</h5>
                                                <p class="card-text">Some quick example text to build on the card title
                                                    and
                                                    make
                                                    up the bulk of the card's content.</p>
                                                <div class="btnbox">
                                                    <a href="#" class="btn btn-primary">價格</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4 cardbox">
                                        <div class="card">
                                            <img src="./assets/img/set/lunch/lunch03.jpg" class="card-img-top"
                                                alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">商業午餐3</h5>
                                                <p class="card-text">Some quick example text to build on the card title
                                                    and
                                                    make
                                                    up the bulk of the card's content.</p>
                                                <div class="btnbox">
                                                    <a href="#" class="btn btn-primary">價格</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-8 mainBar " id="mainBar05">
                                <div class="row carboxthree">
                                    <div class="col-12 col-md-4 cardbox">
                                        <div class="card">
                                            <img src="./assets/img/set/xlset/xl01.jpg" class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">XL01</h5>
                                                <p class="card-text">Some quick example text to build on the card title
                                                    and
                                                    make
                                                    up the bulk of the card's content.</p>
                                                <div class="btnbox">
                                                    <a href="#" class="btn btn-primary">價格</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4 cardbox">
                                        <div class="card">
                                            <img src="./assets/img/set/xlset/xl02.jpg" class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">XL02</h5>
                                                <p class="card-text">Some quick example text to build on the card title
                                                    and
                                                    make
                                                    up the bulk of the card's content.</p>
                                                <div class="btnbox">
                                                    <a href="#" class="btn btn-primary">價格</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4 cardbox">
                                        <div class="card">
                                            <img src="./assets/img/set/xlset/xl03.jpg" class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">XL03</h5>
                                                <p class="card-text">Some quick example text to build on the card title
                                                    and
                                                    make
                                                    up the bulk of the card's content.</p>
                                                <div class="btnbox">
                                                    <a href="#" class="btn btn-primary">價格</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>




                            <div class="col-12 col-md-8 mainBar " id="mainBar06">
                                <div class="row carboxthree">
                                    <div class="col-12 col-md-4 cardbox">
                                        <div class="card">
                                            <img src="./assets/img/set/lightfood/lighfood01.jpg" class="card-img-top"
                                                alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">輕食01</h5>
                                                <p class="card-text">Some quick example text to build on the card title
                                                    and
                                                    make
                                                    up the bulk of the card's content.</p>
                                                <div class="btnbox">
                                                    <a href="#" class="btn btn-primary">價格</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4 cardbox">
                                        <div class="card">
                                            <img src="./assets/img/set/lightfood/lighfood02.jpg" class="card-img-top"
                                                alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">輕食02</h5>
                                                <p class="card-text">Some quick example text to build on the card title
                                                    and
                                                    make
                                                    up the bulk of the card's content.</p>
                                                <div class="btnbox">
                                                    <a href="#" class="btn btn-primary">價格</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4 cardbox">
                                        <div class="card">
                                            <img src="./assets/img/set/lightfood/lighfood03.jpg" class="card-img-top"
                                                alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">輕食03</h5>
                                                <p class="card-text">Some quick example text to build on the card title
                                                    and
                                                    make
                                                    up the bulk of the card's content.</p>
                                                <div class="btnbox">
                                                    <a href="#" class="btn btn-primary">價格</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>




                            <div class="col-12 col-md-8 mainBar " id="mainBar07">
                                <div class="row carboxthree">
                                    <div class="col-12 col-md-4 cardbox">
                                        <div class="card">
                                            <img src="./assets/img/set/kidd/kid03.jpg" class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">兒童餐01</h5>
                                                <p class="card-text">Some quick example text to build on the card title
                                                    and
                                                    make
                                                    up the bulk of the card's content.</p>
                                                <div class="btnbox">
                                                    <a href="#" class="btn btn-primary">價格</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4 cardbox">
                                        <div class="card">
                                            <img src="./assets/img/set/kidd/kid04.jpg" class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">兒童餐02</h5>
                                                <p class="card-text">Some quick example text to build on the card title
                                                    and
                                                    make
                                                    up the bulk of the card's content.</p>
                                                <div class="btnbox">
                                                    <a href="#" class="btn btn-primary">價格</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4 cardbox">
                                        <div class="card">
                                            <img src="./assets/img/set/kidd/kid05.jpg" class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">兒童餐03</h5>
                                                <p class="card-text">Some quick example text to build on the card title
                                                    and
                                                    make
                                                    up the bulk of the card's content.</p>
                                                <div class="btnbox">
                                                    <a href="#" class="btn btn-primary">價格</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- footer -->
            <div class="row">
                <div class="col-12 ">
                    <footer id="footer">
                        <div class="containerForThree">
                            <div class="footerLeft footerContent">
                                <h4>企業堅持</h4>
                                <p>
                                    LA PASTA
                                    將義大利麵帶入生活的經營理念，除了在用料方面下足功夫，以最實在、
                                    大方又新鮮的食材回饋給喜愛義大利麵的朋友
                                    ，並選用歐洲原裝進口OLITALIA冷壓初榨橄欖油及德國原裝進口HUBER奶油製品
                                    ，在烹調過程中不添加味精及防腐劑，讓你吃的開心也吃的安心。
                                </p>
                            </div>
                            <div class="footerMid footerContent">
                                <h4>快速連結</h4>
                                <ul>
                                    <li><a href="./index.html">Home Page Variations</a> </li>
                                    <li><a href="./information.html">Information Page Variations</a> </li>
                                    <li><a href="./menu.html">Menu Page Variations</a> </li>
                                    <li><a href="./chef.html">Chef Page Variations</a> </li>
                                </ul>
                            </div>
                            <div class="footerRight footerContent">
                                <h4>聯絡我們</h4>
                                <form class="content-form">
                                    <input type="text" name="name" placeholder="Name">
                                    <input type="text" neam="e-mail" placeholder="E-Mail">
                                    <textarea name="message" placeholder="Message" rows="5"></textarea>
                                    <button class=" form button">發送</button>
                                </form>
                            </div>
                        </div>
                        <div class="copyRight">
                            <div class="container">
                                <div class="network">
                                    <a href="https://www.facebook.com" title="facebook">
                                        <span style="font-size: 3em; color:  #34465d;">
                                            <i class="fab fa-facebook-square"></i>
                                        </span>
                                    </a>
                                    <a href="https://www.google.com" title="google">
                                        <span style="font-size: 3em; color:  #34465d;">
                                            <i class="fab fa-google-plus-square"></i>
                                        </span>
                                    </a>
                                    <a href="https://www.github.com" title="github">
                                        <span style="font-size: 3em; color:  #34465d;">
                                            <i class="fab fa-github-square"></i>
                                        </span>
                                    </a>
                                    <a href="https://www.instagram.com" title="instagram">
                                        <span style="font-size: 3em; color:  #34465d;">
                                            <i class="fab fa-instagram"></i>
                                        </span>
                                    </a>
                                    <a href="https://www.twitter.com" title="twitter">
                                        <span style="font-size: 3em; color: #34465d;">
                                            <i class="fab fa-twitter-square"></i>
                                        </span>
                                    </a>
                                </div>
                                <p>
                                    Responsive Web Design 2020
                                </p>
                                <p class="footer-p">
                                    Copyright © 2020 William
                                </p>
                            </div>
                        </div>

                    </footer>

                </div>
            </div>
            <!-- 登入頁面 -->
            <div class="popovers" id="singin-box">
                <div class="popovers-Box">
                    <div id="a01">
                        <div class="inputCBox">
                            <button id="close">X</button>
                            <div class="titleContent">
                                <h3 class="title">welcome</h3>
                            </div>
                            <div class="inputContent">
                                <input class="email" type="text" placeholder="請輸入電子信箱 E-mail" />
                                <input class="password" type="text" placeholder="請輸入6-15碼英數混和密碼" />
                                <p>英文字母需區分大小寫</p>
                                <div class="verification">
                                    <input class="sixnumber" type="text" placeholder="請輸入右圖6碼數字" />
                                    <img class="sixnumberIMG" src="./assets/img/signin/777.jpg">
                                </div>
                            </div>
                            <div class="buttonContent">
                                <button class="button" type="button">確認</button>
                                <label>
                                    <input class="checkbox" type="checkbox"> 記住我的帳號
                                </label>
                            </div>
                            <div class="textContent">
                                <div class="text">
                                    <a href="#">免費註冊</a>
                                    <a href="#">忘記密碼</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>




        <script src="./assets/js/menuRwd.js"></script>
    </body>

</html>