*{
    margin:0;
    padding:0;
    list-style: none;
}
section{
    display: flex;
    flex-direction:column;
}
.pic{
    margin:0px;
    align-items: stretch;
    
  
}
.item{
    width:100%;
    margin: 0;
}
.item img{
    width:100%;


}

.header{
    widows: 100%;
    background-color: aquamarine;  
    text-align: center;
    margin:0px;
    padding:10px;
    
}
.txt{
    padding:30px 10px;
}

ul li h4{  
        color:#f00;
        font-style: italic;
}

footer{
    background-color: #aaa;
    color:gray;
    padding:10px 020px;
    text-align: center;
    width:100%;
}
.icons{
    display: flex;
    flex-direction: column;
    width:100%;
    
}
.icons li{
    display: inline;
    font-size:20px;


}

@media screen and (min-width:768px){
    .pic{
         display: flex;
    }
    .iconsPic,.banner,.about,.experience,.skills,.works,.connection{
        display: flex;
        width:100%;
    }
    .header{
        width:50%;
    }
    .content{
        width:50%;

    }
    .txt,.pic{
        padding:30px 40px 0px;
    }
    .pic>.item{
        padding:0px 5px;
    }
    .header{
        padding:40px 0px;
        text-align: center;
       
    }
}
/*form */

form{
    width:100%;
    height:100%;
    padding:10px;
    margin:20px 0 10px ;
    text-align: center;
    align-content: center;


}
.datafields{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}
.messagefield{
    display:flex;
    flex-direction:column;
    width:100%;
    margin-top:20px;
    justify-content: center;
    align-items: center;
    
}
.dataemessage{
    width: 100%;
    margin :0 30px;

}
.dataname ,.dataemail{
    margin:30px 0 0 ;
    width: calc(40% - 1rem);
}   

.messagefield{
    display:flex;
    flex-direction:column;
    width:100%;
    margin-top:30px;
    justify-content: center;
    align-items: center;
    
}

#name,#email{
    width:100%;
    height: 5vh;
    border:1px solid rgb(179, 188, 189);
    border-radius:5px;
    padding:5px;
    font-size:20px;
}

#message{
    width:90%;
    border:1px solid rgb(179, 188, 189);
    border-radius:5px;
    font-size:20px;
}

#message:focus,#email:focus,#name:focus{
    border: 1px solid; 
    border-color:  red;
}


.button{
    width:150px;
    height:50px;
    margin-top: 20px;
}
.actions input{
    list-style-type:none;
    text-align: left;
    text-align: center;
}
.button{
    color:black;
    background-color:aquamarine;   
    border:0px; 
    cursor: pointer; 
    
}
.button:hover{
    background-color: rgb(191, 250, 230);  
}
/*form end */

.userInformation li{
    text-align:center;
   
    list-style:none;
    line-height: 90px;
    font-size: 16px;
}
.userInformation li a{
    text-decoration:none;
    color:black;
    border-bottom: dashed;
}
.userInformation li a:hover{
    border-bottom: none;
}
/*頁首球型動畫 */


.boxRound{
    display: inline-block;
    width:200px;
    height: 150px;
    border-radius: 0%;
    background-color:aquamarine;   
    bottom: 0px;
    text-align: center;
    line-height: 100px;
    border:10px solid rgb(118, 240, 171);
    animation:boxRound 5s 1s ease 1;
}

@keyframes boxRound{
    0%{border-radius:0%; color: gray;}
    50%{border-radius:30%;color:blueviolet;}
    100%{border-radius:0%;color:red}
  
}
/*頁首球型動畫 */