<!DOCTYPE html>
<html lang="zh-TW">

    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="keywords" content="" />
        <meta name="author" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>navBar</title>
        <link rel="stylesheet" href="./asset/css/rest.css">
        <link rel="stylesheet" href="./asset/css/navbar.css">
    </head>

    <body>
        <input type="checkbox" id="menu-control">
        <div class="header">
            <div class="btnbox">
                <label for="menu-control" class="label-btn">
                    <img class="btn-img" src="./asset/img/redBTN.png">
                </label>
            </div>
            <div class="navbar">
                <ul>
                    <li><a htrf="#">Hosme</a></li>
                    <li><a htrf="#">About</a></li>
                    <li><a htrf="#">aaeefaa</a></li>
                    <li><a htrf="#">Hovfweme</a></li>
                    <li><a htrf="#">Hovfvvvsme</a></li>
                </ul>
            </div>
            <div class="imgbox">
                <img class="imgbox-img" src="asset/img/chef03.jpg">
                <div class="imgbox-img2"> </div>
                <div class="main-all">
                    <div class="main">
                        <h3>4444</h3>
                        <p>
                            搜尋結果
                            網頁搜尋結果
                            :active - CSS | MDN - Mozilladeveloper.mozilla.org › zh-TW › docs › Web › CSS › :active
                            2019年3月18日 - The :active CSS pseudo-class represents an element (such as a button) that is
                            being
                            activated by the user.
                            ‎範例 · ‎Specifications
                        </p>
                    </div>
                    <div class="main">
                        <h3>4444</h3>
                        <p>
                            搜尋結果
                            網頁搜尋結果
                            :active - CSS | MDN - Mozilladeveloper.mozilla.org › zh-TW › docs › Web › CSS › :active
                            2019年3月18日 - The :active CSS pseudo-class represents an element (such as a button) that is
                            being
                            activated by the user.
                            ‎範例 · ‎Specifications
                        </p>
                    </div>
                    <div class="main">
                        <h3>4444</h3>
                        <p>
                            搜尋結果
                            網頁搜尋結果
                            :active - CSS | MDN - Mozilladeveloper.mozilla.org › zh-TW › docs › Web › CSS › :active
                            2019年3月18日 - The :active CSS pseudo-class represents an element (such as a button) that is
                            being
                            activated by the user.
                            ‎範例 · ‎Specifications
                        </p>
                    </div>
                </div>

            </div>

        </div>



    </body>

</html>