<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>911</title>
    <link rel="stylesheet" href="./css/rest.css" />
    <link rel="stylesheet" href="./css/app9101.css" />
    <link rel="stylesheet" href="./css/app9102.css" />
  </head>

  <body>
    <div class="main ">
      <div class="header">
        <div class="title">
          <div class="user-level">
            <h3>
              傳說會員等級導覽說明
            </h3>
          </div>
          <div class="user-description">
            <a href="#">詳細規範 >></a>
          </div>
        </div>
        <div class="yellowbox">
          <p>每日元寶十點寄發至電子信箱，祝你遊戲愉快</p>
        </div>
      </div>
    </div>

    <div class="main" id="box1">
      <div class="content-main">
        <div class="tap">
          <a href="#" id="box01">當前等級</a>
          <a href="#" id="box02">可升等等級</a>
        </div>
        <div class="text">
          <div class="text-card">
            <img id="card-img" src="./img/003.jpg" />
            <p>青銅會員</p>
          </div>
          <div class="text-content">
            <div class="user">
              <div class="gray-box">
                <h3>連續假期內累積儲值點數 (i)</h3>
                <span>2014/01/11~2016/12/11</span>
                <div class="money">
                  <p>NT$ 999</p>
                  <div class="bigbox">
                    <div class="box1">
                      <div class="box2"></div>
                    </div>
                  </div>
                </div>
                <p>再次消費 NT$90點數</p>
                <p>或當日效費滿 NT$666點數</p>
                <p>即可升級金鑽會員 ></p>
              </div>
              <h3>等級效期</h3>
              <span>1989/01/01~永久</span>
            </div>

            <div class="grade">
              <div class="box">
                <h3>傳說對決 --- 一般會員</h3>
                <p>
                  於 傳說對決 官網/APP以手機號碼註冊並寫資料,即可成為青銅會員。
                </p>
              </div>
              <div class="box">
                <p>資料填寫完整,即可領取線上開卡禮99造型點</p>
                <p>生日禮:生日當天打王可獲得購物金10造型點</p>
              </div>
              <div class="box">
                <p>
                  一般玩家一天內累積消費點數滿5,666員或開福袋滿100包即可升等黃金會員。
                </p>
                <p>若五年內未升等則重新計算累積消費點數</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="main close" id="box2">
      <div class="content-main">
        <div class="tap-all">
          <div class="tap">
            <a href="#" id="box03">當前等級</a>
            <a href="#" id="box04">可升等等級</a>
          </div>
          <div class="tap2">
            <a href="#" class="golduser" id="gold01">黃金會員</a>
            <a href="#" class="golduser" id="gold02">黃鑽會員</a>
          </div>
        </div>
        <div class="text">
          <div class="text-card">
            <img id="card-img" src="./img/004.jpg" />
            <p>黃金會員</p>
          </div>
          <div class="text-content">
            <div class="upgrade">
              <h3>造型</h3>
              <p>達成其一條件,即可成為黃金會員</p>
              <p>．累積消費滿 NT$9,000</p>
              <p>．當日消費滿 NT$1,600</p>
            </div>
            <div class="time">
              <h3>等級效期</h3>
              <p>永久造型</p>
            </div>
            <hr class="hr" />
            <div class="upgrade-user">
              <div class="box">
                <h3>傳說對決 --- 黃金會員</h3>
                <p>
                  一般會員單筆消費金額滿99點數或一年內累積消費滿999造型點即可升等黃金會員。
                </p>
              </div>
              <div class="box">
                <p>黃金會員權益 :</p>
                <p>生肖禮 : 生肖為虎可獲得升等購物金100造型點。</p>
                <p>生日禮 : 生日當天可無條件獲得購物金590造型點。</p>
                <p>
                  衝等禮 :
                  以入會日為基準，累積消費每滿9,111點數，即於次月中回饋5000造型點。
                </p>
              </div>
              <div class="box">
                <p>*累積金額依入會日每日重新計算。</p>
                <p>*衝等每筆消費，不列入衝等累積計算。</p>
                <p>會籍10年期限。</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="js/index.js"></script>
  </body>
</html>
