<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>912</title>
    <link rel="stylesheet" href="./css/rest.css" />
    <link rel="stylesheet" href="./css/app9102.css" />
  </head>

  <body>
    <!-- back 大首頁 -->
    <div class="backBox">
      <a class="alink" href="https://william175pasta.github.io/index.html">
        ←
      </a>
    </div>
    <div class="main">
      <div class="header">
        <div class="title">
          <div class="user-level">
            <h3>
              傳說會員等級導覽說明
            </h3>
          </div>
          <div class="user-description">
            <a href="#">詳細規範 >></a>
          </div>
        </div>
        <div class="yellowbox">
          <p>每日元寶十點寄發至電子信箱，祝你遊戲愉快</p>
        </div>
      </div>
    </div>

    <div class="main">
      <div class="content-main">
        <div class="tap-all">
          <div class="tap">
            <a href="./index9101.html" id="box-02">當前等級</a>
            <a href="#" id="box-01">可升等等級</a>
          </div>
          <div class="tap2">
            <a href="#" id="box777">黃金會員</a>
            <a href="#" id="box777">黃鑽會員</a>
          </div>
        </div>
        <div class="text">
          <div class="text-card">
            <img id="card-img" src="./img/004.jpg" />
            <p>黃金會員</p>
          </div>

          <div class="text-content">
            <div class="upgrade">
              <h3>造型</h3>
              <p>達成其一條件,即可成為黃金會員</p>
              <p>．累積消費滿 NT$9,000</p>
              <p>．當日消費滿 NT$1,600</p>
            </div>
            <div class="time">
              <h3>等級效期</h3>
              <p>永久造型</p>
            </div>

            <div class="upgrade-user">
              <div class="box">
                <h3>傳說對決 --- 黃金會員</h3>
                <p>
                  一般會員單筆消費金額滿99點數或一年內累積消費滿999造型點即可升等黃金會員。
                </p>
              </div>
              <div class="box">
                <p>黃金會員權益 :</p>
                <p>生肖禮 : 生肖為虎可獲得升等購物金100造型點。</p>
                <p>生日禮 : 生日當天可無條件獲得購物金590造型點。</p>
                <p>
                  衝等禮 :
                  以入會日為基準，累積消費每滿9,111點數，即於次月中回饋5000造型點。
                </p>
              </div>
              <div class="box">
                <p>*累積金額依入會日每日重新計算。</p>
                <p>*衝等每筆消費，不列入衝等累積計算。</p>
                <p>會籍10年期限。</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
