
#testOne .content input,
#testTwo .inputContent input{
    font-size: 16px;
    margin: 10px;
    caret-color: black;
    outline: none;
    border: none;
  }

#news{
    background-color:rgba(0, 0, 0, 0.05);
    
    display:flex;
    flex-direction: column;
}

/* 第一個測試表單 */

#testOne {
    display: flex;
    flex-direction: row;
}



#news .content{
    width:100%;
    margin:0 auto;
    padding:10px;
}
#news .signIn{
    display: flex;
    flex-direction: column;
}
#news .signIn{
    padding: 20px 10px ;
}

#news .signInText{
    position: relative;
    left:60px;
}

#news .signIn h5{
    margin-bottom: 20px;
    text-align: start;
    padding-left: 10px;
}

#news .checkNum #checkNumImg{
    
    position: relative;
    top:10px;
    width:80px;
}


#news .signIn .signInEmail,
#news .signIn .signInPsswd{
    width: 264px;
    padding:10px;
    margin-bottom: 20px;
    border-radius: 4px;
    border:1px solid #ccc;
    
}


#news .signIn .signInNum{
    width: 170px;
    padding:10px;
    margin-bottom: 20px;
    border-radius: 4px;
    border:1px solid #ccc;
}

#news .signIn #signInButton{
    width: 287px;
    padding:10px;
    margin-bottom: 20px;
    border-radius: 4px;
    border:none;
    cursor: pointer;
    background-color: 	#888888
}
#news .signIn #signInButton:hover{
    background-color:#880000;
    color:	#DDDDDD;
}


/* 第二個測試表單 */

#news{
    display: flex;
    flex-direction:column;
    align-items: center;
}
#news .shrimpRegistered{
    background-color:	#DCDCDC;

    display: flex;
    flex-direction: column;
    width:100%;
    
    margin-bottom: 50px;
}

#news .shrimpRegistered .titleContent{
    padding:20px 30px 0;
    margin-bottom: 30px;
 
}
#news .shrimpRegistered .titleContent #reg{
    float: left;
    text-decoration: none;
    font-size:20px;

}
#news .shrimpRegistered .titleContent #sig{
    float: right;
    color: #ee4d2d;
    text-decoration: none;

}
#news .shrimpRegistered .inputContent{
    padding:10px;
    margin-bottom: 5px;
}

#news .shrimpRegistered .inputContent .shrimpInput{
    width: 264px;
    padding:10px;
    margin-bottom: 20px;
    border-radius: 4px;
    border:1px solid #ccc;


}




#news .shrimpRegistered .inputContent #phone{
    margin-bottom: 20px;
    padding:10px;
    width:264px;
}

#news .shrimpRegistered .inputContent .VerCodeBTN{
    width:100px;
    height: 38px;
    color: #555;
   
    border:1px solid rgba(0,0,0,.14);
    cursor: pointer;
    outline: none;
}

#news .shrimpRegistered .Two{
    display: flex;
    flex-direction: row;
}

#news .shrimpRegistered .inputContent .VerCodeIMG{
    width:auto;
    height: 40px;
    padding-top: 10px;
}

#news .shrimpRegistered .buttonContent{
    padding:10px;
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 5px;
}
#news .shrimpRegistered .buttonContent .cancel{
    width: 120px;
    padding:10px;
    margin-right:10px;
    color: #555;
    border:none;
    cursor: pointer;
    border-radius:4px;
    outline: none;
}
#news .shrimpRegistered .buttonContent .cancel:hover{
    background-color:#DDDDDD;
    
}
#news .shrimpRegistered .buttonContent .enter{
    width: 120px;
    padding:10px;
    margin-right:10px;
    color: #eee;
    background-color: #ee4d2d;
    border:none;
    cursor: pointer;
    border-radius:4px;
    outline: none;

}


#news .shrimpRegistered .inputContent .Three{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#news .shrimpRegistered .One #account,
#news .shrimpRegistered .Two #password{
        width:400px;
}


#news .shrimpRegistered .inputContent .Three .forget{
    text-decoration: none;
    color: #ee4d2d;
    margin-right:10px;
}
#news .shrimpRegistered .inputContent .Three .help{
    text-decoration: none;
    color:	#888888;
    margin-right:10px;
}
#news .shrimpRegistered .inputContent .Four{
    margin-top:30px;
    width:100%;
    

}


#news .facebookContent{
    width: 100;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top:50px;
    background-color:#DDDDDD;
}

#news .facebookContent .logo{
    margin: 0 1px;
    padding:10px 3px ;
}
