<!DOCTYPE html>
<html lang="zh-TW">

    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="keywords" content="" />
        <meta name="author" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>HTML&CSS</title>
        <link rel="stylesheet" href="../assets/css/rest.css">

        <link rel="stylesheet" href="../assets/css/menu.css">
        <link rel="stylesheet" href="../assets/css/footer.css">
        <link rel="stylesheet" href="../assets/css/menuDishes.css">


    </head>

    <body>
        <header id="header">
            <nav class="menu">
                <div class="container">

                    <div class="navBar">
                        <div class="title">
                            <h2>WilliamLOGO</h2>
                        </div>
                        <ul class="main-menu">
                            <li><a href="index.html">Home</a></li>
                            <li><a href="#">News</a></li>
                            <li><a href="#">Menu</a></li>
                            <li><a href="#">Chef</a></li>
                            <li><a href=" #footer">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div>
                <a href="#"><img src="../assets/img/header/pasta.jpeg" width="100%"></a>
            </div>
        </header>



        <section id="menuDishes">

            <div class="menuDishes-tilte">
                <h3>餐廳地點<a href="https://www.google.com.tw/maps" id="restaurantMap" target="_blank">查看地圖</a> </h3>
                <div>
                    <h6>
                        地址
                    </h6>
                    <p>
                        台北市大安區羅斯福路四段83號(捷絲旅臺大尊賢館 2 樓
                    </p>
                </div>
                <div>
                    <h6>交通方式</h6>
                    <p>
                        捷運：松山新店線(松山-新店) - 公館站 2 號出口 (步行約 4 分鐘)
                    </p>
                </div>
            </div>
            <div class="menuDishes-tilte">
                <h3>專屬優惠</h3>
                <div>
                    <h6>EZCASH 紅利回饋</h6>
                    <p>
                        預訂 EZTABLE 獨家方案，預付最高可享 0.5% EZCASH 回饋
                    </p>
                </div>
            </div>
            <div class="menuDishes-tilte">
                <h3>菜色介紹</h3>
                <div>
                    <h6>適合聚餐類型</h6>
                    <p>
                        浪漫約會, 商業聚餐, 家庭聚餐, 團體聚餐, 朋友聚餐, 生日慶祝
                    </p>
                </div>
                <div>
                    <h6>料理種類</h6>
                    <p>
                        義大利料理, 早午餐, 自助餐, 義大利麵, 比薩, 海鮮, 牛排, 素食, 主題餐廳
                    </p>
                </div>
            </div>
            <div class="menuDishes-tilte">
                <h3>用餐須知</h3>
                <p>
                    ➤ 用餐前 2 個月開放訂位；每次訂位接受人數 1~12 人；詳細訂位規則請電洽客服 ➤ 預付金額不可折抵停車費用 ➤ 訂位請備註孩童人數，以符合用餐舒適度 ➤
                    特殊節慶假日、以及包廂恕無法提供線上訂位，請洽餐廳服務人員訂位 ➤ 自備酒水服務費收取方式：葡萄酒每瓶NT500、烈酒每瓶NT1,000 ➤ 同一團體分開不同人名線上訂位，恕無法提供併桌需求
                </p>
            </div>
        </section>



        <div class="table">
            <table id="table">
                <caption>
                    餐飲營業時間價目表
                </caption>
                <tr>
                    <th>餐別</th>
                    <th>供應時間</th>
                    <th>價錢</th>
                </tr>
                <tr>
                    <td>自助早餐</td>
                    <td>07：00－10：30</td>
                    <td>大人收費420元/客</td>
                </tr>
                <tr>
                    <td>自助午餐</td>
                    <td>11：00－14：30</td>
                    <td>大人收費660元/客</td>
                </tr>
                <tr>
                    <td>自助晚餐</td>
                    <td>17：00－21：30</td>
                    <td>大人收費880元/客</td>
                </tr>
            </table>
        </div>
        </section>




        <footer id="footer">
            <div class="containerForThree">
                <div class="container">
                    <div class="footerLeft footerContent">
                        <h3>LOGO</h3>
                        <p>公司簡介資訊公司簡介資訊公司簡介資訊公司簡介資訊公司簡</p>
                    </div>
                    <div class="footerMid footerContent">
                        <h3>快速連結</h3>
                        <ul>
                            <li><a href="#header">Home Page Variations</a> </li>
                            <li><a href="#main">News Page Variations</a> </li>
                            <li><a href="#">Menu Page Variations</a> </li>
                            <li><a href="#main_2">Chef Page Variations</a> </li>
                            <li><a href="#footer">Contact Page Variations</a> </li>
                            <div class="box"></div>
                        </ul>
                    </div>
                    <div class="footerRight footerContent">
                        <form class="content-form">
                            <h3>聯絡我們</h3>
                            <input type="text" name="name" placeholder="Name">
                            <input type="text" neam="e-mail" placeholder="E-Mail">
                            <textarea name="message" placeholder="Message" rows="5"></textarea>
                            <button class=" form button">發送</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="copyRight">
                <div class="container">
                    <div class="network">
                        <a href="#">Facebook</a>
                        <a href="#">GOOOFacebook</a>
                        <a href="#">ITFacebook</a>
                    </div>
                    <p>
                        COPY 2020 ©
                    </p>
                </div>
            </div>
        </footer>



    </body>

</html>