<!DOCTYPE html>
<html lang="zh-TW">

    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="keywords" content="" />
        <meta name="author" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>william&L’Atelier de Patrick </title>
        <link rel="stylesheet" href="../assets/css/rest.css">
        <link rel="stylesheet" href="../assets/css/menuNav.css">
        <link rel="stylesheet" href="../assets/css/menuRwd.css">


        <!-- bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
            integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    </head>

    <body>

        <div class="container-fluid p-0 ">
            <div class="indexmain">
                <!-- header -->
                <div>
                    <input type="checkbox" id="menuControl">
                    <div class="headerContent">
                        <div class="logo">
                            <img src="../assets/img/picColor/regHotels.jpg" style="width: 55%;">
                        </div>
                        <label for="menuControl" class="menuBtn">
                            <img class="menuBtnImg" src="../assets/img/picColor/BTN.png">
                        </label>
                        <nav>
                            <a href="../index.html">Home</a>
                            <a href="#">Menu</a>
                            <a href="../views/informationRwd.html">Information</a>
                            <a href="#chef">Chef</a>
                            <a href="#">signin</a>
                        </nav>
                    </div>
                    <div class="row .no-gutters">
                        <div class="col-12">
                            <img src="../assets/img/header/pasta.jpeg" style="width: 100%;">
                        </div>
                    </div>
                </div>

                <!-- constent -->
                <div class="container-fluid p-0">


                    <div class="main">
                        <div class="row newDishes">
                            <div class="col-12 col-md-4 asideBar">
                                <div class="card menubox">
                                    <div class="title">
                                        <h4>MENU</h4>
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item"><a href="#" id="menu00">義大利麵 Pasta</a></li>
                                        <li class="list-group-item"><a href="#" id="menu01">沙拉 Salad</a></li>
                                        <li class="list-group-item"><a href="#" id="menu02">湯品 Soup</a></li>
                                        <li class="list-group-item"><a href="#" id="menu03">飲料 Drink</a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-12 col-md-8 mainBar openmainBar" id="mainBar00">
                                <div class="row carboxthree">
                                    <div class="col-12 col-md-4 cardbox">
                                        <div class="card">
                                            <img src="../assets/img/portfolio/Cream01.jpg" class="card-img-top"
                                                alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">奶油培根筆尖麵</h5>
                                                <p class="card-text">Some quick example text to build on the card title
                                                    and
                                                    make
                                                    up the bulk of the card's content.</p>
                                                <div class="btnbox">
                                                    <a href="#" class="btn btn-primary">價格</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4 cardbox">
                                        <div class="card">
                                            <img src="../assets/img/portfolio/Cream02.jpg" class="card-img-top"
                                                alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">南瓜起司雞貝殼麵</h5>
                                                <p class="card-text">Some quick example text to build on the card title
                                                    and
                                                    make
                                                    up the bulk of the card's content.</p>
                                                <div class="btnbox">
                                                    <a href="#" class="btn btn-primary">價格</a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4 cardbox">
                                        <div class="card">
                                            <img src="../assets/img/portfolio/Cream03.jpg" class="card-img-top"
                                                alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">奶油鮭魚義大利麵</h5>
                                                <p class="card-text">Some quick example text to build on the card title
                                                    and
                                                    make
                                                    up the bulk of the card's content.</p>
                                                <div class="btnbox">
                                                    <a href="#" class="btn btn-primary">價格</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row carboxthree">
                                    <div class="col-12 col-md-4 cardbox">
                                        <div class="card">
                                            <img src="../assets/img/portfolio/Tomato01.jpg" class="card-img-top"
                                                alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">茄汁肉丸子義大利麵</h5>
                                                <p class="card-text">Some quick example text to build on the card title
                                                    and
                                                    make
                                                    up the bulk of the card's content.</p>
                                                <div class="btnbox">
                                                    <a href="#" class="btn btn-primary">價格</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4 cardbox">
                                        <div class="card">
                                            <img src="../assets/img/portfolio/Tomato02.jpg" class="card-img-top"
                                                alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">茄汁海鮮義大利麵</h5>
                                                <p class="card-text">Some quick example text to build on the card title
                                                    and
                                                    make
                                                    up the bulk of the card's content.</p>
                                                <div class="btnbox">
                                                    <a href="#" class="btn btn-primary">價格</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4 cardbox">
                                        <div class="card">
                                            <img src="../assets/img/portfolio/Tomato03.jpg" class="card-img-top"
                                                alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">波隆那肉醬義大利麵</h5>
                                                <p class="card-text">Some quick example text to build on the card title
                                                    and
                                                    make
                                                    up the bulk of the card's content.</p>
                                                <div class="btnbox">
                                                    <a href="#" class="btn btn-primary">價格</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-8 mainBar" id="mainBar01">
                                <div class="row carboxthree">
                                    <div class="col-12 col-md-4 cardbox">
                                        <div class="card">
                                            <img src="../assets/img/portfolio/sala01.jpg" class="card-img-top"
                                                alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">田園時蔬沙拉</h5>
                                                <p class="card-text">Some quick example text to build on the card title
                                                    and
                                                    make
                                                    up the bulk of the card's content.</p>
                                                <div class="btnbox">
                                                    <a href="#" class="btn btn-primary">價格</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4 cardbox">
                                        <div class="card">
                                            <img src="../assets/img/portfolio/sala02.jpg" class="card-img-top"
                                                alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">馬鈴薯沙拉</h5>
                                                <p class="card-text">Some quick example text to build on the card title
                                                    and
                                                    make
                                                    up the bulk of the card's content.</p>
                                                <div class="btnbox">
                                                    <a href="#" class="btn btn-primary">價格</a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4 cardbox">
                                        <div class="card">
                                            <img src="../assets/img/portfolio/sala03.jpg" class="card-img-top"
                                                alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">季節水果沙拉</h5>
                                                <p class="card-text">Some quick example text to build on the card title
                                                    and
                                                    make
                                                    up the bulk of the card's content.</p>
                                                <div class="btnbox">
                                                    <a href="#" class="btn btn-primary">價格</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-8 mainBar" id="mainBar02">
                                <div class="row carboxthree">
                                    <div class="col-12 col-md-4 cardbox">
                                        <div class="card">
                                            <img src="../assets/img/portfolio/soup01.jpg" class="card-img-top"
                                                alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">今日特製湯</h5>
                                                <p class="card-text">Some quick example text to build on the card title
                                                    and
                                                    make
                                                    up the bulk of the card's content.</p>
                                                <div class="btnbox">
                                                    <a href="#" class="btn btn-primary">價格</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4 cardbox">
                                        <div class="card">
                                            <img src="../assets/img/portfolio/soup02.jpg" class="card-img-top"
                                                alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">洋蔥湯</h5>
                                                <p class="card-text">Some quick example text to build on the card title
                                                    and
                                                    make
                                                    up the bulk of the card's content.</p>
                                                <div class="btnbox">
                                                    <a href="#" class="btn btn-primary">價格</a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4 cardbox">
                                        <div class="card">
                                            <img src="../assets/img/portfolio/soup03.jpg" class="card-img-top"
                                                alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">蔬菜蕃茄湯</h5>
                                                <p class="card-text">Some quick example text to build on the card title
                                                    and
                                                    make
                                                    up the bulk of the card's content.</p>
                                                <div class="btnbox">
                                                    <a href="#" class="btn btn-primary">價格</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row carboxthree">
                                    <div class="col-12 col-md-4 cardbox">
                                        <div class="card">
                                            <img src="../assets/img/portfolio/soup04.jpg" class="card-img-top"
                                                alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">酥皮濃湯</h5>
                                                <p class="card-text">Some quick example text to build on the card title
                                                    and
                                                    make
                                                    up the bulk of the card's content.</p>
                                                <div class="btnbox">
                                                    <a href="#" class="btn btn-primary">價格</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4 cardbox">
                                        <div class="card">
                                            <img src="../assets/img/portfolio/soup05.png" class="card-img-top"
                                                alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">拿坡里海鮮湯</h5>
                                                <p class="card-text">Some quick example text to build on the card title
                                                    and
                                                    make
                                                    up the bulk of the card's content.</p>
                                                <div class="btnbox">
                                                    <a href="#" class="btn btn-primary">價格</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-8 mainBar " id="mainBar03">
                                <div class="row carboxthree">
                                    <div class="col-12 col-md-4 cardbox">
                                        <div class="card">
                                            <img src="../assets/img/portfolio/drink01.jpg" class="card-img-top"
                                                alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">焦糖拿鐵 冰/熱</h5>
                                                <p class="card-text">Some quick example text to build on the card title
                                                    and
                                                    make
                                                    up the bulk of the card's content.</p>
                                                <div class="btnbox">
                                                    <a href="#" class="btn btn-primary">價格</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4 cardbox">
                                        <div class="card">
                                            <img src="../assets/img/portfolio/drink02.jpg" class="card-img-top"
                                                alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">紅茶 冰/熱</h5>
                                                <p class="card-text">Some quick example text to build on the card title
                                                    and
                                                    make
                                                    up the bulk of the card's content.</p>
                                                <div class="btnbox">
                                                    <a href="#" class="btn btn-primary">價格</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4 cardbox">
                                        <div class="card">
                                            <img src="../assets/img/portfolio/drink03.jpg" class="card-img-top"
                                                alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">特調經典奶茶 冰/熱</h5>
                                                <p class="card-text">Some quick example text to build on the card title
                                                    and
                                                    make
                                                    up the bulk of the card's content.</p>
                                                <div class="btnbox">
                                                    <a href="#" class="btn btn-primary">價格</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>




                        </div>
                    </div>
                </div>




            </div>





            <!-- footer -->
            <div class="row">
                <div class="col-12 ">
                    <footer id="footer">
                        <div class="containerForThree">
                            <div class="footerLeft footerContent">
                                <h4>企業堅持</h4>
                                <p>
                                    LA PASTA
                                    將義大利麵帶入生活的經營理念，除了在用料方面下足功夫，以最實在、
                                    大方又新鮮的食材回饋給喜愛義大利麵的朋友
                                    ，並選用歐洲原裝進口OLITALIA冷壓初榨橄欖油及德國原裝進口HUBER奶油製品
                                    ，在烹調過程中不添加味精及防腐劑，讓你吃的開心也吃的安心。
                                </p>
                            </div>
                            <div class="footerMid footerContent">
                                <h4>快速連結</h4>
                                <ul>
                                    <li><a href="#header">Home Page Variations</a> </li>
                                    <li><a href="#">Information Page Variations</a> </li>
                                    <li><a href="#main_2">Chef Page Variations</a> </li>
                                    <li><a href="#footer">Contact Page Variations</a> </li>
                                    <div class="box"></div>
                                </ul>
                            </div>
                            <div class="footerRight footerContent">
                                <h4>聯絡我們</h4>
                                <form class="content-form">

                                    <input type="text" name="name" placeholder="Name">
                                    <input type="text" neam="e-mail" placeholder="E-Mail">
                                    <textarea name="message" placeholder="Message" rows="5"></textarea>
                                    <button class=" form button">發送</button>
                                </form>
                            </div>
                        </div>





                        <div class="copyRight">

                            <div class="container">
                                <div class="network">
                                    <a href="#">Facebook</a>
                                    <a href="#">Instagram</a>
                                    <a href="#">GitHub</a>
                                </div>
                                <p>
                                    William Wei© Mobile Web @ 2020
                                </p>
                                <p>
                                    Responsive Web Design 2020
                                </p>
                            </div>
                        </div>

                    </footer>

                </div>
            </div>

        </div>




        <script src="../assets/js/menuRwd.js"></script>
    </body>

</html>