<!DOCTYPE html>
<html lang="zh-TW">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="keywords" content="" />
        <meta name="author" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Singin Test1</title>
        <link rel="stylesheet" href="./assets/css/news.css">
    </head>
    <body>
        <section id="news">
            <div id="testOne">
                <div class="content">
                    <div class="signIn">
                        <h5>Welcome 測試標題</h5>
                        <input class="signInEmail" type="text" placeholder="請輸入電子信箱.E-Mail">
                        <input class="signInPsswd" type="text" placeholder="請輸入6-15碼英數混和密碼">
                        <div class="checkNum">
                            <input class="signInNum" type="text" placeholder="請輸入右圖6碼數字">
                            <img id="checkNumImg" src="./assets/img/picColor/777.jpg">
                        </div>
                        <input id="signInButton" type="button" value="ok">
                        <div>
                            <label>
                                <input id="signIncheckbox" type="checkbox">
                                記住我的帳號
                            </label>
                        </div>
                    </div>
                    <div class="signInText">
                        <a href="#">免費註冊</a>
                        <a href="#">忘記密碼</a>
                    </div>
                </div>
            </div>
            <div id="testTwo">
                <div class="shrimpRegistered">
                    <div class="titleContent">
                        <a id="reg">註冊</a>
                        <a id="sig" href="#">登入</a>
                    </div>
                    <div class="inputContent">
                        <div class="One">
                            <input id="phone" class="shrimpInput" type="text" name="phone" placeholder="手機號碼">
                        </div>
                        <div class="Two">
                            <input class="shrimpInput" type="text" name="captcha" placeholder="請輸入驗證碼">
                            <img class="VerCodeIMG" src="./assets/img/picColor/777.jpg" />
                        </div>
                        <div class="three">
                            <input class="shrimpInput" type="text" name="otp"" placeholder=" 手機驗證碼">
                            <button class="VerCodeBTN">寄送驗證碼</button>
                        </div>
                        <div class="Four">
                            <p>
                                若要繼續註冊，請先閱讀並同意XX購物的<a href="#">服務條款</a>與<a a href="#">隱私權政策</a>。
                            </p>
                        </div>
                    </div>
                    <div class="buttonContent">
                        <button type="button" class="cancel">取消</button>
                        <button type="button" class="enter">註冊</button>
                    </div>
                    <div class="facebookContent">
                        <div class="logo">
                            <a href="#">
                                <img src="./assets/img/picColor/logo1.jpg">
                            </a>
                        </div>
                        <div class=" logo">
                            <a href="#">
                                <img src="./assets/img/picColor/logo2.jpg">
                            </a>
                        </div>
                        <div class="logo">
                            <a href="#">
                                <img src="./assets/img/picColor/logo3.jpg">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="shrimpRegistered">
                    <div class="titleContent">
                        <a id="reg">登入</a>
                        <a id="sig" href="#">註冊</a>
                    </div>
                    <div class="inputContent">
                        <div class="One">
                            <input id="account" class="shrimpInput" type="text" name="account"
                                placeholder="Email/ 手機號碼/ 使用者帳號">
                        </div>
                        <div class="Two">
                            <input id="password" class="shrimpInput" type="text" name="password" placeholder="密碼">
                        </div>
                        <div class="Three">
                            <a class="forget" href="#">忘記密碼</a>
                            <a class="help" href="#">需要幫助?</a>

                        </div>
                    </div>
                    <div class="buttonContent">
                        <button type="button" class="cancel">取消</button>
                        <button type="button" class="enter">登入</button>
                    </div>

                    <div class="facebookContent">
                        <div class="logo">
                            <a href="#">
                                <img src="./assets/img/picColor/logo1.jpg">
                            </a>
                        </div>
                        <div class=" logo">
                            <a href="#">
                                <img src="./assets/img/picColor/logo2.jpg">
                            </a>
                        </div>
                        <div class="logo">
                            <a href="#">
                                <img src="./assets/img/picColor/logo3.jpg">
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </section>
    </body>
</html>