<!DOCTYPE html>
<html lang="zh-TW">

    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="keywords" content="" />
        <meta name="author" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>912</title>
        <link rel="stylesheet" href="./css/rest.css">
        <link rel="stylesheet" href="./css/app9102.css">

    </head>

    <body>
        <div class="main">
            <div class="header">
                <div class="title">
                    <div class="user-level">
                        <h3>
                            會員等級說明
                        </h3>
                    </div>
                    <div class="user-description">
                        <a href="#">制度說明 ></a>
                    </div>
                </div>
                <div class="yellowbox">
                    <p>消費紀錄與等級異動將於訂單完成取貨的隔天更新</p>
                </div>
            </div>
            <!-- tap -->
            <!-- content -->
        </div>

        <div class="main">




            <div class="content-main">
                <div class="tap-all">
                    <div class="tap">
                        <a href="#" id="box-01">當前等級</a>
                        <a href="#" id="box-02">可升等等級</a>

                    </div>
                    <div class="tap2">
                        <a href="#" id="box-01">白金會員</a>
                        <a href="#" id="box-02">鑽石會員</a>
                    </div>
                </div>

                <div class="text">
                    <div class="text-card">
                        <img id="card-img" src="./img/004.jpg">
                        <p>白金會員</p>
                    </div>





                    <div class="text-content">
                        <div class="upgrade">
                            <h3>升等</h3>
                            <p>達成其一條件,即可成為白金會員</p>
                            <p>．累積消費滿 NT$15,000</p>
                            <p>．當日消費滿 NT$6,600</p>

                        </div>

                        <div class="time">
                            <h3>等級效期</h3>
                            <p>永久</p>
                        </div>

                        <hr class="hr" />


                        <div class="upgrade-user">
                            <div class="box">
                                <h3>SO NICE白金會員</h3>
                                <p>一般會員單筆消費金額滿6,600或一年內累積消費滿15,000元即可升等白金會員。</p>
                            </div>
                            <div class="box">
                                <p> 白金會員權益 : </p>
                                <p> 升等禮 : 升等次月中可獲得升等購物金300元。</p>
                                <p> 生日禮 : 生日當天可無條件獲得購物金500元。</p>
                                <p> 累積禮 : 以入會日為基準，累積消費每滿15,000，即於次月中回饋500元購物金。</p>
                            </div>
                            <div class="box">
                                <p>*累積金額依入會日每年重新計算。</p>
                                <p>*升等當筆消費，不列入升等累積計算。</p>
                                <p>無會籍期限。</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </body>

</html>