<!DOCTYPE html>
<html lang="zh-TW">

    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="keywords" content="" />
        <meta name="author" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>911</title>
        <link rel="stylesheet" href="./css/rest.css">
        <link rel="stylesheet" href="./css/app9101.css">

    </head>

    <body>
        <div class="main">
            <div class="header">
                <div class="title">
                    <div class="user-level">
                        <h3>
                            傳說會員等級導覽說明
                        </h3>
                    </div>
                    <div class="user-description">
                        <a href="#">詳細規範 >></a>
                    </div>
                </div>
                <div class="yellowbox">
                    <p>每日元寶十點寄發至電子信箱，祝你遊戲愉快</p>
                </div>
            </div>
        </div>

        <div class="main">
            <div class="content-main">
                <div class="tap">
                    <a href="#" id="box-01">當前等級</a>
                    <a href="#" id="box-02">可升等等級</a>
                </div>
                <div class="text">
                    <div class="text-card">
                        <img id="card-img" src="./img/003.jpg">
                        <p>青銅會員</p>
                    </div>
                    <div class="text-content">
                        <div class="user">
                            <div class="gray-box">
                                <h3>連續假期內累積儲值點數 (i)</h3>
                                <span>2014/01/11~2016/12/11</span>
                                <div class="money">
                                    <p>NT$ 999 </p>
                                    <div class="bigbox">
                                        <div class="box1">
                                            <div class="box2"></div>
                                        </div>
                                    </div>
                                </div>
                                <p>再次消費 NT$90點數</p>
                                <p>或當日效費滿 NT$666點數</p>
                                <p>即可升級金鑽會員 > </p>
                            </div>
                            <h3>等級效期</h3>
                            <span>1989/01/01~永久</span>
                        </div>
                        <hr class="hr" />
                        <div class="grade">
                            <div class="box">
                                <h3>傳說對決 --- 一般會員</h3>
                                <p>於 傳說對決 官網/APP以手機號碼註冊並寫資料,即可成為青銅會員。</p>
                            </div>
                            <div class="box">
                                <p> 資料填寫完整,即可領取線上開卡禮99造型點</p>
                                <p> 生日禮:生日當天打王可獲得購物金10造型點</p>
                            </div>
                            <div class="box">
                                <p>一般玩家一天內累積消費點數滿5,666員或開福袋滿100包即可升等黃金會員。</p>
                                <p>若五年內未升等則重新計算累積消費點數</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>