*{
    margin:0;
    padding:0;
}

body {
    font-family: Arial, Helvetica, "微軟正黑體", sans-serif;
    background-color: #ccc;
}

#top{
    width: 1200px;
    height: 40px;
    margin: 0 auto;
    background-color:steelblue;
    color:#eee;
}#top h2 {
    padding-left: 20px;
    line-height: 40px;
}

#banner{
    width: 100%;
    margin: 0 auto;
    width: 1200px;
    height: 250px;
    margin: 0 auto;
    background-image: url(../img/header/pasta.jpeg);
}

#navBMS{
    width:1200px;
    height: 40px;
    margin: 0 auto;
    padding: 20px 20px 0 20px;

    background-color: white;
}
#navBMS ul {
    list-style:none;
    float: right;
    padding-right: 180px;

}
#navBMS li{
    display: inline-block;
    width:30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    border: 1px solid #888;
    background-color: mediumturquoise;
    color: #FFF;

}
#navBMS li:hover{
    background-color: midnightblue;
}
#content{
    
    width:1200px;
    margin: 0 auto;
    background-color: #FFF;
    padding:50px 200px;
    font-size: 14px;
}
#content p{
    /*設定文字落段下方空一行的間距*/
    padding-bottom: 16px;
    
}
#down{
    width:1200px;
    margin:0 auto;
    text-align: center;
    background-color: #aaa ;
}
#down h4 {
line-height: 100px;
}

#content h3{
    color: #8b0000;
}




#navTop{
    background-color: lightcoral;
    width: 1200px;
    margin:0 auto;
}

#navTop  .nav{
    display: flex;
    flex-direction: row;
    height: 50px;
    line-height: 50px;
    justify-content: center;

}




#navTop .nav ul {

    list-style: none;
}

#navTop .nav li{
    margin-left: 100px;
    display: inline-block;
    font-size: 18px;
    
    margin:0 30px;
    
}
#navTop .nav li a {
    line-height: 40px;

    color:#eee;
    text-decoration: none;
}
#navTop .nav li a:hover {
    color:#8b0000;
}