
 .main{
    margin: 10px;
    font-family: "Openf Sans", "Microsoft JhengHei", sans-serif;
} 

.title{
    margin-top:1px ;
    margin:0 auto;

    width: 100%;
    background-color: #34465d;
    color: #eee;
    
    text-align: center;
}
.title h3{
    line-height: 50px;
    text-align: center;
}
.chefbox{
    margin:20px;
}
.chefbox:hover{
    box-shadow:0 0 6px#AAAAAA;
}

.chefImageBox{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.chefTitle{
    margin-top:10px;
}
.chefText{
    padding: 0px 15px 20px 15px;
}
.chefImageBox{
    cursor: pointer;
}
#popover01{
    position:fixed;
    z-index: 99999;
    min-width:100%;
    height: 100%;
    background-color: hsla(240, 0%, 50%, 0.6);
    top:0;
    left:0;
    display: none;
}
#popover02{
    position:fixed;
    z-index: 99999;
    min-width:100%;
    height: 100%;
    background-color: hsla(240, 0%, 50%, 0.6);
    top:0;
    left:0;
    display: none;
}

.popover-text{
    font-family: "Openf Sans", "Microsoft JhengHei", sans-serif;
    border-radius: 3px;
    padding: 10px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width:80%;
    height: 75%;
    margin:auto;
    background-color:#eee;

}
.popover-text .popover-box-btn{
    text-align: center;
    width: 30px;
    height: 30px;
    position: absolute;
    top:0;
    right:0;
    padding: 5px;
    background-color: red;
    color:#EEE;
    cursor: pointer;
}

.popover-text h4{
    font-weight: bold;
    margin-top: 5px;
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid	#444444;
}
.popover-text  ul{
    list-style: none;
}
.popover-text  li{
    padding:10px;
    border-bottom: 1px solid	#AAAAAA;
    letter-spacing: 2px;
}
.popover-text  span{
    color: red;
    font-weight: 700;
}

@media screen and (min-width:768px){
    .title:hover  h3:after{
        color: #34465d;
        background-color: #CCC;
        content:'與我們聯絡';
    }
    .title:hover  h3:before{
        color: #34465d;
        background-color: #CCC;
        content:'台北市第一';
    }

    .popover-text{
        font-family: "Openf Sans", "Microsoft JhengHei", sans-serif;
        border-radius: 3px;
        padding: 10px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width:30%;
        height: 60%;
        margin:auto;
        background-color:#eee;

    }
   


}