
 .main{
    margin: 10px;
    font-family: "Openf Sans", "Microsoft JhengHei", sans-serif;
} 

.title{
    margin-top:1px ;
    width: 100%;
    background-color: #34465d;
    color: #eee;
    height: 50px;
    text-align: center;
}
.chefbox{
    margin:20px;
}
.chefbox:hover{
    box-shadow:0 0 6px#AAAAAA;
}




.chefImageBox{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.chefTitle{
    margin-top:10px;
}
.chefText{
    padding: 0px 15px 20px 15px;
}
.chefImageBox{
    cursor: pointer;
}



.chefbox h5{
    color:#CC0000;
    font-weight: bold;
}