/**
 * 導航列 menu
 */


body {
    font-family: "Openf Sans", "Microsoft JhengHei", sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.menu{
 
    border-bottom: 2px soild black;
    position: relative;
}

.menu ul{
    text-decoration: none;
    margin: 0;
    padding: 0;
}
.menu a{
    text-decoration: none;
    color:#8b0000;
}
.menu ul.main-menu li{
    display: inline-block;
    position: relative;
    
}
.menu ul.main-menu li:nth-child(1){
    color:#8b0000;
  
    float: left;
}
.menu .navBar{
    display:flex;
    justify-content: space-around;
    width:auto;
    height: auto;
    background-color:rgba(0, 0, 0, 0.05);
}
.menu .navBar .title{
    padding-top:15px ;
    font-size: 22px;
  
}
.menu ul.main-menu >li> a{
    display: block;
    font-size: 16px;
    font-weight: bold;
    line-height: 16px;
    padding: 30px 0;
    margin: 0 20px;
}
.menu ul.main-menu >li> a:hover{
  
    color: #23dbdb;

}

