
.main{
    margin: 10px;
    font-family: "Openf Sans", "Microsoft JhengHei", sans-serif;
}


.newDishes{
    display: flex;
    flex-direction: column;

}
.asideBar{
    margin-top: 15px;
}
.mainBar{
    margin-top: 15px;
    display: none;
}

.openmainBar{
   
    display: block;
}







.newDishes .asideBar .title{
    text-align: center;
    background-color:#444444;
    color:  #FFFFFF;
}
.newDishes .asideBar .title h4{
    height:40px;
    line-height:40px
}
.menubox{
    width: 100%;
}
.menubox ul li{
    text-align: center;
    padding: 0;
    /* transition: all .3s 0s ease; */
}



.menubox ul li a{
    padding: 12px;
    display: block;
    text-decoration: none;
    text-align: center;
}

.menubox ul li:hover{
    background-color:	#DDDDDD;
}



/* main */
.mainBar .carboxthree{
    margin-bottom: 15px;
    
}

.mainBar .carboxthree .cardbox{
    margin-bottom: 10px;
}

.mainBar .carboxthree .cardbox h5{
    color: #af0606;
    font-weight: 700;
}
.mainBar .carboxthree .cardbox p{
    color: black;
    transition: all 1s 0s ease;
}

.mainBar .carboxthree .cardbox p:hover{
    color: #0077b5;
   
    
}

.mainBar .carboxthree .cardbox a{
    background-color: 	#0077b5;
    border: none;
    outline: none;
    color: #eee;
    transition: all .6s 0s ease;
    
}
.mainBar .carboxthree .cardbox a:hover{
    color: #eee;
    background-color: #ff5700;
    
}

.btnbox{
    display: flex;
    justify-content: flex-end;
}





@media screen and (min-width:768px){
    .newDishes{
        display: flex;
        flex-direction: row;
    }
    .main{
      
        margin:20px auto;
    }
    .cardbox{
        display: flex;
        align-items: stretch;
    }
  
}










































/* .main{
    margin-top: 20px;
    width: 80%;
    background-color: rosybrown;
    margin: 0 auto;
}
.newDishes{
    width: 100%;
    height: auto;
  display: flex;
  flex-direction: row;
}
.menubox{
    display: flex;
    height: 300px;
    width: 18rem;
    height: auto;
}



.main .asideBar{
    width: 100%;
    color: red;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top:20px;


}
.main .mainBar{
    width: 100%;
    background-color: #aaa;
    color: rebeccapurple;
    margin-top:20px;
}
.mainBar .carboxthree{
    margin:20px 0;
}

.mainBar .cardbox{
    width:33%;
    
    margin:0;
}

.mainBar .cardbox .card{
    width:100%
} */