
/* Header裡NAV設定 */

.header-img-box{
    width: 100%;
    position: relative;
    top:60px;
}
.headerContent{
    width:100%;
    height: 50px;
    color: red;
    position: fixed;
    top:0;
    right: 0;
    left: 0;
    background-color:#fff;
    z-index: 9;
    justify-content: space-between;
}
.logo{
    width: 150px;
    height: 50px;
}
#menuControl{
    position: absolute;
    z-index: -10;
    /* 透明度設0 確保他不會出現 */
    opacity: 0; 
}

.menuBtnImg{
    display: block;
    width: 50px;
    height: 30px;
    cursor: pointer;
}

.menuBtn {
    position: absolute;
    top:10px;
    right: 20px;
}
#menuControl:checked ~ .headerContent nav{
    left:0;
}
nav{
    position: absolute;
    width: 85%;
    
    height: calc(100vh - 60px);
    top:50px;
    background-color: #34465d;
    left:-100%;
    transition: .5s ease-in-out;
    z-index: 9;
}
nav a{
    display: block;
    text-decoration: none;
    padding:10px 20px;
    margin-top: 10px;
    border-bottom: 1px solid	#888888 ;
    text-align: center;
    color: #ccc;
}
#SignInBtn{
    color: #ccc;
}






.foodContentAll img{
    margin-bottom: 20px;
}
.foodContentAll .foodContent h3 + p{
    cursor: pointer;
    color: #34465d;
}



/* titleContne */
.titleContne{
    font-family: "Openf Sans", "Microsoft JhengHei", sans-serif;
    margin: 50px auto 10px;
    text-align: center;
  
}
.titleContne-title{
    margin-top:20px;
}
.titleContne .titleContne-text{
    padding: 10px 20px;
    text-align:justify;
}
.titleContne .titleContne-text span{
    padding-left: 30px;
}


/* foodContentAll */
.foodContentAll{
    font-family: "Openf Sans", "Microsoft JhengHei", sans-serif;
    margin: 30px auto;
}
.foodContentAll .foodContent p{
    padding: 10px 20px;
}
.foodContent{
    text-align: center;
}

.roundImg{
    padding:0px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 10px #34465d;
}
.roundImg:hover{
    box-shadow: 0 0 12px		#4682B4;
    animation-direction:reverse;
    /* box-shadow: 0 0 10px #34465d; */
    /* transform: scaleX(1.2) scaleY(1.2); */
    animation:test 0.5s 1 ease;
}
/* chef */

.chefContent {
    display: flex;
    align-items:center;
    justify-content:center;
    margin: 10px auto;
}
.chefContent .chefImg{
    cursor: pointer;
    transition: all 2s 0s ease;
}
.chefContent .chefImg:active{
    border-radius:100%;
}
.chefContents p{
    font-family: "Openf Sans", "Microsoft JhengHei", sans-serif;
    padding: 10px 20px;
    text-align: justify;
}

.chefContents h4{
    text-align: center;
}

/* Footer */
.containerForThree{
    font-family: "Openf Sans", "Microsoft JhengHei", sans-serif;
    background-color: #34465d;
    color: #eee;
}
.containerForThree .footerContent{
    padding: 10px;
}
.containerForThree .footerContent li a:nth-child(2){
    margin-left: 30px;
}
.containerForThree .footerContent a{
    color: whitesmoke;
    cursor: pointer;
}

.containerForThree h4{
    margin-top: 10px;
    margin-left: 10px;
    color: #eee;
    font-weight: bold;
}
.containerForThree .footerContent p,
.containerForThree .footerContent ul{
    padding: 15px;
    text-align: justify;
}
.containerForThree .content-form{
    padding:20px;
    width: 90%;
    margin: 0 auto;

}
.containerForThree .content-form input,
.containerForThree .content-form textarea{
        margin-bottom: 10px;
        width: 100%;
        padding:5px;
        outline: none;
        border-radius: 3px;
        border: none;
}
.containerForThree .content-form button{
    width: 100%;
    padding:5px;
    outline: none;
    border-radius: 3px;
    border: none;
    background-color: #b92b27;
    color:#eee;
    font-weight: bold;
    cursor: pointer;
    
}

.containerForThree .content-form button:hover{
    background-color:#eee;
    color:#b92b27;
}
#footer{
    display: flex;
    flex-direction: column;
}

.copyRight{
    background-color: #333;
    color: #eee;

}
.copyRight .container .network a{
    margin:5px;
    display: inline-block;
    color: #eee;

}
.copyRight .container .network {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.copyRight .container p{
    text-align: center;
}
.copyRight .container .footer-p{
    
    padding-bottom: 20px;
}


#ad-content #ad{

    display: none;
}
.ad-img-box{
    display: none;

}


/* 平板 以上*/
@media screen and (min-width:768px){
        /*縮小左右  */
        .indexmain{
        width: 80%;
        margin: 0 auto;
        }
        .menuBtn{
            display: none;
        }
        .headerContent{
            width: 100%;
            display: flex;
        }
        .logo{
            margin-left: 10%;
        }
        .headerContent nav{
            width: 100%;
            position: relative;
            left : 0;
            display: flex;
            width:auto;
            height: auto;
            flex-direction: row;
            margin-right: 10%;
            top:0;
            
            /* 把它背景設透明 */
            background-color: transparent;
        }
        .headerContent nav a{
            line-height: 10px;
            text-decoration: none;
            display: block;
            border-bottom:none;
            color: #34465d;
            font-weight: bold;
            transition: border-top .2s 0s ease
        }
        #SignInBtn{
            color: #34465d;
        }
        .headerContent nav a:hover{
            color: #b92b27; 
            border-top: 3px solid #b92b27;
        }
        
        .foodContentAll{
            margin-bottom: 40px;
        }

/* footer */
        .containerForThree{
            margin-top: 20px;;
            display: flex;
            flex-direction: row;
        } 
        .containerForThree .footerContent{
            width: 33%;
            padding: 30px;
        }
        .containerForThree .footerContent h4{
            color:#eee;
            padding: 10px 5px;
        }
        .containerForThree .footerContent p,
        .containerForThree .footerContent ul,
        .containerForThree .footerContent form{
            padding-left:30px;
            text-align: justify;
        }
        .containerForThree .footerContent ul li{
            margin-bottom: 10px;
        }
        .copyRight .container{
            padding:40px 20px;
        }
        .copyRight .container .network{
            margin-top: 0px;
            margin-bottom: 20px;
            display: flex;
            flex-direction: row;
        }
        .copyRight .container p{
            font-size:13px;
            text-align:center;
            line-height:1.8;
            color:#FFF;
        }
        .containerForThree .content-form button:hover{
            font-weight: 700;
            background-color:#eee;
            color:#b92b27;
        }
        .copyRight .container .footer-p{
            padding-bottom: 0px;
        }

/* 蓋板廣告 手機沒有 */
        #ad-content #ad{
            position:fixed;
            z-index: 99999;
            width:100%;
            height: 100%;
            background-color: hsla(240, 0%, 50%, 0.6);
            top:0;
            left:0;
            display: none;
        }

        .ad-img-box{
            width: 35%;
            height: auto;
            position: absolute;
            display: block;
            margin: auto;
            top:20px;
            bottom:20px;
            right:0;
            left:0;

        }

        .ad-img{
            width: 100%;
            height: 95%;
            position: absolute;
            display: block;
            top:0;
            bottom:0;
            right:0;
            left:0;
        }

        .ad-close-btn{
            width: 30px;
            height: 30px;
            text-align: center;
            position: absolute;
            display: block;
            top:0;
            right:2px;
        }

        .ad-img-box span{
            font-size: 22px; 
            color:#DC143C;
        }
        .ad-img-box span:hover{
            color: wheat;
            cursor: pointer;
        }



        /* 主廚圖片陰影 效果*/
        .images-boxhadow{
            position: relative;
            width: 100%;
        }
        .images-boxhadow:after {
            content:'';
            width: 50%;
            position: absolute;
            bottom:120px;
            height: 50px;
            right: 130px;
            box-shadow: 100px 0 10px 90px rgba(0,0,0,0.2);
            z-index:-1;
            /* skew傾斜 */
            transform: skew(-35deg);
        }
        .images-boxhadow .chefImg{
            width: 100%;
            
        }

        @keyframes test{
            0%{
            transform:scale(1,1);
            }

            50%{
                transform:scale(0.5,0.5);
            }
            100%{
                transform:scale(1.1,1.1);
            }
        }
        /* 輪播 */
        .carousel-box{
            width: 100%;
            
            margin: 20px auto ;
            text-align: center;
            position: relative;
            }

}

/* 登入頁畫面 */


/* 第一個登入框 */

#singin-box{
    background-color: rgba(0,0,0,0.2);
    position:fixed;
    z-index: 99999;
    width:100%;
    height: 100%;
    background-color: hsla(240, 0%, 50%, 0.6);
    top:0;
    left:0;
    display: none;
   
}
    .popovers-Box{
    max-width: 310px;
    height:450px;
    background-color: #F5F5F5;
    display: block;
    position: absolute;
    margin: 0 auto;
    left:0;
    right:0;
    top: 60px;
    z-index: 10;
    padding:20px;
    border-radius: 5px;
  
  }
  .close{
    display: none;
  }
  .open{
    display: block;
  }
  /* 第一個登入框 */
  
  #a01{
    margin: 20px 0;
  }

  #a01 .inputCBox #close{
    position: absolute;
    right: 0;
    top: 0;
    outline: none;
    width:30px;
    height:30px;
    text-align: center; 
    border:none;
    cursor: pointer;
    font-weight: 700;
    background-color: #AA0000;
    color: #eee;
    border-top-right-radius: 5px;
  }   
  
  
  #a01 .inputCBox .titleContent{
    text-align: center;
    padding: 10px;
    padding-bottom: 10px;
  }
  #a01 .inputCBox .titleContent .title{
    font-weight: 700;
    font-size: 32px;
    color:#AA0000;
  }
  
  #a01 .inputCBox .inputContent{
    margin-bottom: 20px;
  }
  
  #a01 .inputCBox .inputContent .email{
    width: 100%;
    height:40px;
    margin-bottom: 20px;
    padding:10px;
    outline: none;
    border-radius: 4px;
    border:1px solid #ccc;
  
  }
  #a01 .inputCBox .inputContent .password{
    width: 100%;
    height:40px;
   
    padding:10px;
    outline: none;
    border-radius: 4px;
    border:1px solid #ccc;
  }
  #a01 .inputCBox .inputContent p{
    font-size: 14px;
    padding-left: 5px;
    padding-top: 2px;
  
  }
  
  #a01 .inputCBox .inputContent .sixnumber{
    width: 70%;
    height:40px;
    padding:10px;
    outline: none;
    border-radius: 4px;
    border:1px solid #ccc;
  }
  #a01 .inputCBox .inputContent .sixnumberIMG{
    width: 28%;
    height:38px;
    padding-bottom:5px;
  }
  #a01 .inputCBox .buttonContent {
    display:flex;
    flex-direction: column;
    
  }
  #a01 .inputCBox .buttonContent .button{
    width: 100%;
    height:40px;
    font-weight: 700;
    outline: none;
    border-radius: 4px;
    border:1px solid #eee;
    cursor: pointer;
    background-color: #eee;
    color:#AA0000;
    margin-bottom: 15px;
  }
  #a01 .inputCBox .buttonContent .button:hover{
    color:#eee;
    background-color:#AA0000;
  }
  #a01 .inputCBox .buttonContent label{
    padding-left: 5px;
    font-size: 14px;
  }
  #a01 .inputCBox .textContent .text a{
    text-decoration: none;
    font-size: 14px;
    display: block;
    color: darkblue;
    margin-left: 10px;
    font-weight: bold;
  
  }
  #a01 .inputCBox .textContent .text a:hover{
    color: red;
  
  }
  #a01 .inputCBox .textContent .text{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
}
