
/* Header裡NAV設定 */
.container-fluidIP{
    padding-right:0;
    padding-left: 0;
}
.headerContent{
    position: relative;
    width:100%;
    height: 50px;
    background-color:#fff;
    color: red;
    
}
.logo{
    width: 150px;
    height: 50px;
}
#menuControl{
    position: absolute;
    z-index: -10;
    /* 透明度設0 確保他不會出現 */
    opacity: 0; 
}

.menuBtn img{
    display: block;
    width: 50px;
    height: 30px;
    cursor: pointer;
}

.menuBtn {
    position: absolute;
    top:10px;
    right: 10px;
}
#menuControl:checked ~ .headerContent nav{
    left:0;
}
nav{
    position: absolute;
    width: 85%;
    
    height: calc(100vh - 60px);
    top:50px;
    background-color: #34465d;
    left:-100%;
    transition: .5s ease-in-out;
    z-index: 999;
}
nav a{
    display: block;
    text-decoration: none;
    padding:10px 20px;
    margin-top: 10px;
    border-bottom: 1px solid	#888888 ;
    text-align: center;
    color: #ccc;
}

















.foodContentAll img{
    margin-bottom: 20px;
}

/* titleContne */
.titleContne{
    font-family: "Openf Sans", "Microsoft JhengHei", sans-serif;
    margin: 30px auto;
    text-align: center;
}
.titleContne .titleContne-text{
    padding: 10px 20px;
}
/* foodContentAll */


.foodContentAll{
    font-family: "Openf Sans", "Microsoft JhengHei", sans-serif;
    margin: 30px auto;
}


.foodContentAll .foodContent p{
    padding: 10px 20px;
}
.foodContent{
    text-align: center;
}

.roundImg{
    padding:0px;
    border-radius: 100px;
}
.roundImg:hover{
    box-shadow: 0 0 10px #34465d;
    transform: scaleX(1.2) scaleY(1.2);
}
/* chef */

.chefContent {
    display: flex;
    align-items:center;
    justify-content:center;
    margin: 10px auto;
}
.chefContent .chefImg{
    cursor: pointer;
    transition: all 2s 0s ease;
}
.chefContent .chefImg:active{
    border-radius:100%;
}
.chefContents p{
    font-family: "Openf Sans", "Microsoft JhengHei", sans-serif;
    padding: 10px 20px;
    text-align: justify;
}

.chefContents h4{
    text-align: center;
}

/* Footer */
.containerForThree{
    font-family: "Openf Sans", "Microsoft JhengHei", sans-serif;
    background-color: #34465d;

    color: #eee;
}
.containerForThree .footerContent{
    padding: 10px;
}
.containerForThree .footerContent li a:nth-child(2){
    margin-left: 30px;
}
.containerForThree .footerContent a{
    color: whitesmoke;
    cursor: pointer;
}

.containerForThree h4{
    margin-top: 10px;
    margin-left: 10px;

    color: #eee;
    font-weight: bold;
}
.containerForThree .footerContent p,
.containerForThree .footerContent ul{
    padding: 15px;
    text-align: justify;
}
.containerForThree .content-form{
    padding:20px;
    width: 90%;
    margin: 0 auto;

}
.containerForThree .content-form input,
.containerForThree .content-form textarea{
        margin-bottom: 10px;
        width: 100%;
        padding:5px;
        outline: none;
        border-radius: 3px;
        border: none;
}
.containerForThree .content-form button{
    width: 100%;
    padding:5px;
    outline: none;
    border-radius: 3px;
    border: none;
    background-color: #b92b27;
    color:#eee;
    font-weight: bold;
    cursor: pointer;
    
}

.containerForThree .content-form button:hover{
    background-color:#eee;
    color:#b92b27;
}
.footer{
    display: flex;
    flex-direction: column;
}

.copyRight{
    background-color: #333;
    color: #eee;
}
.copyRight .container .network a{
    margin:10px auto;
    display: inline-block;
    color: #eee;

}
.copyRight .container .network {
    display: flex;
    flex-direction: column;
}
.copyRight .container p{
    text-align: center;
}
/* 平板 以上*/
@media screen and (min-width:768px){
        /*縮小左右  */
        .indexmain{
        width: 80%;
        margin: 0 auto;
        }

        .menuBtn{
            display: none;
        }
        .headerContent{
            display: flex;
            justify-content: space-between;
        }
        .headerContent nav{
            position: relative;
            left : 0;
            display: flex;
            width:auto;
            height: auto;
            flex-direction: row;
            margin-right: 50px;
            top:0;
            /* 把它背景設透明 */
            background-color: transparent;
        }
        .headerContent nav a{
            line-height: 10px;
            text-decoration: none;
            display: block;
            border-bottom:none;
            color: #34465d;
            font-weight: bold;
            transition: border-top .2s 0s ease
        }
        .headerContent nav a:hover{
            color: #b92b27; 
            border-top: 3px solid #b92b27;

        }

        .foodContentAll{
            margin-bottom: 40px;
        }

/* footer */
        .containerForThree{
            margin-top: 20px;;
            display: flex;
            flex-direction: row;
        } 
        .containerForThree .footerContent{
            width: 33%;
            padding: 30px;
        }
        .containerForThree .footerContent h4{
            color:#eee;
            padding: 10px 5px;
        }
        .containerForThree .footerContent p,
        .containerForThree .footerContent ul,
        .containerForThree .footerContent form{
            padding-left:30px;
            text-align: justify;
        }
        .containerForThree .footerContent ul li{
            margin-bottom: 10px;
        }
        .copyRight .container{
            padding:40px 20px;
        }

        .copyRight .container .network{
            margin-top: 0px;
            margin-bottom: 20px;
            display: flex;
            flex-direction: row;
        }
        .copyRight .container p{
            font-size:13px;
            text-align:center;
            line-height:1.8;
            color:#FFF;
        }
        .containerForThree .content-form button:hover{
            font-weight: 700;
            background-color:#eee;
            color:#b92b27;
        }

/* 蓋板廣告 手機沒有 */
        #ad-content #ad{
            position:fixed;
            z-index: 99999;
            width:100%;
            height: 100%;
            background-color: hsla(240, 0%, 50%, 0.6);
            top:0;
            left:0;
            display: none;
        }
        #ad-content #ad img{
            position:absolute;
            margin: auto;
            top:0;
            bottom:0;
            right:0;
            left:0;
        }




}





