.container{
    position: relative;
    margin: 10px;
    text-align: center;  
    
}
header{
    position: absolute;
    width:100%;
    height:400px;
    background-color:yellow;
    border:1px solid black;    
}
aside{
    position:absolute;   
    top: 400px;
    width: 20%;
    height:400px;
    background-color:deepskyblue;
    border:1px solid black;  
}
main{
    position:absolute;
    top: 400px;
    width: 80%;
    height:400px;
    margin-left:20%;
    background-color:deepskyblue;
    border:1px solid black;   
}
footer {
    position:absolute;
    top: 800px;
    width: 100%;
    height:200px;
    bottom:0;
    background-color:green;
    border:1px solid black;  
  }