* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  };
  
  .App {
    font-family: sans-serif;
    text-align: center;
  };
  li {
    list-style-type: none;
    display: inline-block;
    margin: 10px;
  };
  .CarouselBTN:hover {
    background-color: #009688;
  };
  